In [1]:
! pip install pyyaml

Requirement already satisfied: pyyaml in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (6.0.2)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [1]:
import pandas as pd
import yaml 
import os 

#function to read yaml file
def read_yaml_file(file_path):
    with open(file_path, 'r') as file:
        data = yaml.safe_load(file)
        return pd.json_normalize(data)
    
    
stock_combined_df =pd.DataFrame()   
    
#generate the month folder using date_range 
 
months = pd.date_range(start = '2023-11-01', end = '2024-11-22', freq='MS').strftime('%Y-%m').to_list() #2023-11

for month in months:
    folder_path = os.path.join ('E:/stock analysis', month) #E:/stock analysis\\2024-11'
    try:
        
    
        # Generate a list of possible date files
        month_start = pd.to_datetime(f"{month}-01" )#month 2023-11-01, string formated date into datetime
        month_end = month_start + pd.offsets.MonthEnd(1)# current month last date
        date_files = pd.date_range(start = month_start, end = month_end).strftime('%Y-%m-%d').to_list()

        for date_file in date_files:
            file_name = f"{date_file}_05-30-00.yaml"
            file_path = os.path.join(folder_path, file_name)
            
            try:
                df = read_yaml_file(file_path)
                stock_combined_df = pd.concat([stock_combined_df, df], ignore_index=True) #list of dataframe is concate
                
            except FileNotFoundError:
                print(f"file{file_path}not found.")
            except Exception as e:
                print(f"An error occurred while reading {file_path}:{e}")   
                
    except FileNotFoundError:
        print(f"file{file_path}not found.")
    except Exception as e:
        print(f"An error occured while reading {folder_path}:{e}")   
        
print(stock_combined_df)

fileE:/stock analysis\2023-11\2023-11-04_05-30-00.yamlnot found.
fileE:/stock analysis\2023-11\2023-11-05_05-30-00.yamlnot found.
fileE:/stock analysis\2023-11\2023-11-11_05-30-00.yamlnot found.
fileE:/stock analysis\2023-11\2023-11-14_05-30-00.yamlnot found.
fileE:/stock analysis\2023-11\2023-11-18_05-30-00.yamlnot found.
fileE:/stock analysis\2023-11\2023-11-19_05-30-00.yamlnot found.
fileE:/stock analysis\2023-11\2023-11-25_05-30-00.yamlnot found.
fileE:/stock analysis\2023-11\2023-11-26_05-30-00.yamlnot found.
fileE:/stock analysis\2023-11\2023-11-27_05-30-00.yamlnot found.
fileE:/stock analysis\2023-12\2023-12-02_05-30-00.yamlnot found.
fileE:/stock analysis\2023-12\2023-12-03_05-30-00.yamlnot found.
fileE:/stock analysis\2023-12\2023-12-09_05-30-00.yamlnot found.
fileE:/stock analysis\2023-12\2023-12-10_05-30-00.yamlnot found.
fileE:/stock analysis\2023-12\2023-12-16_05-30-00.yamlnot found.
fileE:/stock analysis\2023-12\2023-12-17_05-30-00.yamlnot found.
fileE:/stock analysis\2023-12\2023-12-23_05-30-00.yamlnot found.
fileE:/stock analysis\2023-12\2023-12-24_05-30-00.yamlnot found.
fileE:/stock analysis\2023-12\2023-12-25_05-30-00.yamlnot found.
fileE:/stock analysis\2023-12\2023-12-30_05-30-00.yamlnot found.
fileE:/stock analysis\2023-12\2023-12-31_05-30-00.yamlnot found.
fileE:/stock analysis\2024-01\2024-01-06_05-30-00.yamlnot found.
fileE:/stock analysis\2024-01\2024-01-07_05-30-00.yamlnot found.
fileE:/stock analysis\2024-01\2024-01-13_05-30-00.yamlnot found.
fileE:/stock analysis\2024-01\2024-01-14_05-30-00.yamlnot found.
fileE:/stock analysis\2024-01\2024-01-21_05-30-00.yamlnot found.
fileE:/stock analysis\2024-01\2024-01-22_05-30-00.yamlnot found.
fileE:/stock analysis\2024-01\2024-01-26_05-30-00.yamlnot found.
fileE:/stock analysis\2024-01\2024-01-27_05-30-00.yamlnot found.
fileE:/stock analysis\2024-01\2024-01-28_05-30-00.yamlnot found.
fileE:/stock analysis\2024-02\2024-02-03_05-30-00.yamlnot found.
fileE:/stock analysis\2024-02\2024-02-04_05-30-00.yamlnot found.
fileE:/stock analysis\2024-02\2024-02-10_05-30-00.yamlnot found.
fileE:/stock analysis\2024-02\2024-02-11_05-30-00.yamlnot found.
fileE:/stock analysis\2024-02\2024-02-17_05-30-00.yamlnot found.
fileE:/stock analysis\2024-02\2024-02-18_05-30-00.yamlnot found.
fileE:/stock analysis\2024-02\2024-02-24_05-30-00.yamlnot found.
fileE:/stock analysis\2024-02\2024-02-25_05-30-00.yamlnot found.
fileE:/stock analysis\2024-03\2024-03-03_05-30-00.yamlnot found.
fileE:/stock analysis\2024-03\2024-03-08_05-30-00.yamlnot found.
fileE:/stock analysis\2024-03\2024-03-09_05-30-00.yamlnot found.
fileE:/stock analysis\2024-03\2024-03-10_05-30-00.yamlnot found.
fileE:/stock analysis\2024-03\2024-03-16_05-30-00.yamlnot found.
fileE:/stock analysis\2024-03\2024-03-17_05-30-00.yamlnot found.
fileE:/stock analysis\2024-03\2024-03-23_05-30-00.yamlnot found.
fileE:/stock analysis\2024-03\2024-03-24_05-30-00.yamlnot found.
fileE:/stock analysis\2024-03\2024-03-25_05-30-00.yamlnot found.
fileE:/stock analysis\2024-03\2024-03-29_05-30-00.yamlnot found.
fileE:/stock analysis\2024-03\2024-03-30_05-30-00.yamlnot found.
fileE:/stock analysis\2024-03\2024-03-31_05-30-00.yamlnot found.
fileE:/stock analysis\2024-04\2024-04-06_05-30-00.yamlnot found.
fileE:/stock analysis\2024-04\2024-04-07_05-30-00.yamlnot found.
fileE:/stock analysis\2024-04\2024-04-11_05-30-00.yamlnot found.
fileE:/stock analysis\2024-04\2024-04-13_05-30-00.yamlnot found.
fileE:/stock analysis\2024-04\2024-04-14_05-30-00.yamlnot found.
fileE:/stock analysis\2024-04\2024-04-17_05-30-00.yamlnot found.
fileE:/stock analysis\2024-04\2024-04-20_05-30-00.yamlnot found.
fileE:/stock analysis\2024-04\2024-04-21_05-30-00.yamlnot found.
fileE:/stock analysis\2024-04\2024-04-27_05-30-00.yamlnot found.
fileE:/stock analysis\2024-04\2024-04-28_05-30-00.yamlnot found.
fileE:/stock analysis\2024-05\2024-05-01_05-30-00.yamlnot found.
fileE:/stock analysis\2024-05\2024-05-04_05-30-00.yamlnot found.
fileE:/stock analysis\2024-05\2024-05-05_05-30-00.yamlnot found.
fileE:/stock analysis\2024-05\2024-05-11_05-30-00.yamlnot found.
fileE:/stock analysis\2024-05\2024-05-12_05-30-00.yamlnot found.
fileE:/stock analysis\2024-05\2024-05-19_05-30-00.yamlnot found.
fileE:/stock analysis\2024-05\2024-05-20_05-30-00.yamlnot found.
fileE:/stock analysis\2024-05\2024-05-25_05-30-00.yamlnot found.
fileE:/stock analysis\2024-05\2024-05-26_05-30-00.yamlnot found.
fileE:/stock analysis\2024-06\2024-06-01_05-30-00.yamlnot found.
fileE:/stock analysis\2024-06\2024-06-02_05-30-00.yamlnot found.
fileE:/stock analysis\2024-06\2024-06-08_05-30-00.yamlnot found.
fileE:/stock analysis\2024-06\2024-06-09_05-30-00.yamlnot found.
fileE:/stock analysis\2024-06\2024-06-15_05-30-00.yamlnot found.
fileE:/stock analysis\2024-06\2024-06-16_05-30-00.yamlnot found.
fileE:/stock analysis\2024-06\2024-06-17_05-30-00.yamlnot found.
fileE:/stock analysis\2024-06\2024-06-22_05-30-00.yamlnot found.
fileE:/stock analysis\2024-06\2024-06-23_05-30-00.yamlnot found.
fileE:/stock analysis\2024-06\2024-06-29_05-30-00.yamlnot found.
fileE:/stock analysis\2024-06\2024-06-30_05-30-00.yamlnot found.
fileE:/stock analysis\2024-07\2024-07-06_05-30-00.yamlnot found.
fileE:/stock analysis\2024-07\2024-07-07_05-30-00.yamlnot found.
fileE:/stock analysis\2024-07\2024-07-13_05-30-00.yamlnot found.
fileE:/stock analysis\2024-07\2024-07-14_05-30-00.yamlnot found.
fileE:/stock analysis\2024-07\2024-07-17_05-30-00.yamlnot found.
fileE:/stock analysis\2024-07\2024-07-20_05-30-00.yamlnot found.
fileE:/stock analysis\2024-07\2024-07-21_05-30-00.yamlnot found.
fileE:/stock analysis\2024-07\2024-07-27_05-30-00.yamlnot found.
fileE:/stock analysis\2024-07\2024-07-28_05-30-00.yamlnot found.
fileE:/stock analysis\2024-08\2024-08-03_05-30-00.yamlnot found.
fileE:/stock analysis\2024-08\2024-08-04_05-30-00.yamlnot found.
fileE:/stock analysis\2024-08\2024-08-10_05-30-00.yamlnot found.
fileE:/stock analysis\2024-08\2024-08-11_05-30-00.yamlnot found.
fileE:/stock analysis\2024-08\2024-08-15_05-30-00.yamlnot found.
fileE:/stock analysis\2024-08\2024-08-17_05-30-00.yamlnot found.
fileE:/stock analysis\2024-08\2024-08-18_05-30-00.yamlnot found.
fileE:/stock analysis\2024-08\2024-08-24_05-30-00.yamlnot found.
fileE:/stock analysis\2024-08\2024-08-25_05-30-00.yamlnot found.
fileE:/stock analysis\2024-08\2024-08-31_05-30-00.yamlnot found.
fileE:/stock analysis\2024-09\2024-09-01_05-30-00.yamlnot found.
fileE:/stock analysis\2024-09\2024-09-07_05-30-00.yamlnot found.
fileE:/stock analysis\2024-09\2024-09-08_05-30-00.yamlnot found.
fileE:/stock analysis\2024-09\2024-09-14_05-30-00.yamlnot found.
fileE:/stock analysis\2024-09\2024-09-15_05-30-00.yamlnot found.
fileE:/stock analysis\2024-09\2024-09-21_05-30-00.yamlnot found.
fileE:/stock analysis\2024-09\2024-09-22_05-30-00.yamlnot found.
fileE:/stock analysis\2024-09\2024-09-28_05-30-00.yamlnot found.
fileE:/stock analysis\2024-09\2024-09-29_05-30-00.yamlnot found.
fileE:/stock analysis\2024-10\2024-10-02_05-30-00.yamlnot found.
fileE:/stock analysis\2024-10\2024-10-05_05-30-00.yamlnot found.
fileE:/stock analysis\2024-10\2024-10-06_05-30-00.yamlnot found.
fileE:/stock analysis\2024-10\2024-10-12_05-30-00.yamlnot found.
fileE:/stock analysis\2024-10\2024-10-13_05-30-00.yamlnot found.
fileE:/stock analysis\2024-10\2024-10-19_05-30-00.yamlnot found.
fileE:/stock analysis\2024-10\2024-10-20_05-30-00.yamlnot found.
fileE:/stock analysis\2024-10\2024-10-26_05-30-00.yamlnot found.
fileE:/stock analysis\2024-10\2024-10-27_05-30-00.yamlnot found.
fileE:/stock analysis\2024-11\2024-11-02_05-30-00.yamlnot found.
fileE:/stock analysis\2024-11\2024-11-03_05-30-00.yamlnot found.
fileE:/stock analysis\2024-11\2024-11-09_05-30-00.yamlnot found.
fileE:/stock analysis\2024-11\2024-11-10_05-30-00.yamlnot found.
fileE:/stock analysis\2024-11\2024-11-15_05-30-00.yamlnot found.
fileE:/stock analysis\2024-11\2024-11-16_05-30-00.yamlnot found.
fileE:/stock analysis\2024-11\2024-11-17_05-30-00.yamlnot found.
fileE:/stock analysis\2024-11\2024-11-20_05-30-00.yamlnot found.
fileE:/stock analysis\2024-11\2024-11-23_05-30-00.yamlnot found.
fileE:/stock analysis\2024-11\2024-11-24_05-30-00.yamlnot found.
fileE:/stock analysis\2024-11\2024-11-25_05-30-00.yamlnot found.
fileE:/stock analysis\2024-11\2024-11-26_05-30-00.yamlnot found.
fileE:/stock analysis\2024-11\2024-11-27_05-30-00.yamlnot found.
fileE:/stock analysis\2024-11\2024-11-28_05-30-00.yamlnot found.
fileE:/stock analysis\2024-11\2024-11-29_05-30-00.yamlnot found.
fileE:/stock analysis\2024-11\2024-11-30_05-30-00.yamlnot found.
           Ticker    close                 date     high      low    month  \
0            SBIN   566.40  2023-11-01 05:30:00   569.65   563.85  2023-11
1      BAJFINANCE  7471.90  2023-11-01 05:30:00  7549.00  7457.65  2023-11
2           TITAN  3173.40  2023-11-01 05:30:00  3212.90  3168.35  2023-11
3             ITC   428.10  2023-11-01 05:30:00   431.10   425.50  2023-11
4             TCS  3330.65  2023-11-01 05:30:00  3371.60  3311.00  2023-11
...           ...      ...                  ...      ...      ...      ...
13195    HINDALCO   652.10  2024-11-22 05:30:00   657.30   647.40  2024-11
13196  HEROMOTOCO  4794.10  2024-11-22 05:30:00  4808.40  4742.00  2024-11
13197    AXISBANK  1142.40  2024-11-22 05:30:00  1147.90  1127.55  2024-11
13198    HDFCBANK  1745.60  2024-11-22 05:30:00  1754.30  1729.55  2024-11
13199  BAJAJ-AUTO  9481.65  2024-11-22 05:30:00  9602.90  9444.10  2024-11

          open    volume
0       566.25  13575575
1      7520.00    462778
2      3193.85    756820
3       430.00   7990245
4      3355.00   1563475
...        ...       ...
13195   652.95   3586402
13196  4778.40    394712
13197  1136.65  16687505
13198  1743.55  12386806
13199  9545.00    619823

[13200 rows x 8 columns]

In [2]:
stock_combined_df.head()

,Ticker,close,date,high,low,month,open,volume
0,SBIN,566.40,2023-11-01 05:30:00,569.65,563.85,2023-11,566.25,13575575
1,BAJFINANCE,7471.90,2023-11-01 05:30:00,7549.00,7457.65,2023-11,7520.00,462778
2,TITAN,3173.40,2023-11-01 05:30:00,3212.90,3168.35,2023-11,3193.85,756820
3,ITC,428.10,2023-11-01 05:30:00,431.10,425.50,2023-11,430.00,7990245
4,TCS,3330.65,2023-11-01 05:30:00,3371.60,3311.00,2023-11,3355.00,1563475

In [3]:
tickers = stock_combined_df['Ticker'].unique()

In [4]:
tickers

array(['SBIN', 'BAJFINANCE', 'TITAN', 'ITC', 'TCS', 'LT', 'TATACONSUM',
       'RELIANCE', 'HCLTECH', 'JSWSTEEL', 'ULTRACEMCO', 'POWERGRID',
       'INFY', 'TRENT', 'BHARTIARTL', 'TATAMOTORS', 'WIPRO', 'TECHM',
       'NTPC', 'HINDUNILVR', 'APOLLOHOSP', 'M&M', 'GRASIM', 'ICICIBANK',
       'ADANIENT', 'ADANIPORTS', 'BEL', 'BAJAJFINSV', 'EICHERMOT',
       'COALINDIA', 'MARUTI', 'INDUSINDBK', 'ASIANPAINT', 'TATASTEEL',
       'HDFCLIFE', 'DRREDDY', 'SUNPHARMA', 'KOTAKBANK', 'SHRIRAMFIN',
       'NESTLEIND', 'ONGC', 'CIPLA', 'BPCL', 'BRITANNIA', 'SBILIFE',
       'HINDALCO', 'HEROMOTOCO', 'AXISBANK', 'HDFCBANK', 'BAJAJ-AUTO'],
      dtype=object)

In [5]:
stock_combined_df['Ticker'].nunique()

50

In [6]:
#ticker wise the data and convert into csv file
for ticker in tickers:
    ticker_data = stock_combined_df[stock_combined_df['Ticker'] == ticker]
    ticker_data.to_csv(f"{ticker}.csv", index = False)

In [7]:
#concate all ticker wise csv files
csv_files = []

for file in os.listdir():
    if file.endswith('.csv'):
        csv_files.append(file)

In [8]:
#multiple csv into one data frame
combined_stock_csv = pd.DataFrame()

for file in csv_files:
    df = pd.read_csv(file)
    combined_stock_csv = pd.concat([combined_stock_csv, df],ignore_index = True)

In [9]:
combined_stock_csv

,Ticker,close,date,high,low,month,open,volume
0,ADANIENT,2217.30,2023-11-01 05:30:00,2312.25,2207.00,2023-11,2299.00,1666579
1,ADANIENT,2215.30,2023-11-02 05:30:00,2297.95,2204.20,2023-11,2247.00,2340997
2,ADANIENT,2229.85,2023-11-03 05:30:00,2279.00,2215.00,2023-11,2215.30,1853300
3,ADANIENT,2246.00,2023-11-06 05:30:00,2260.00,2233.00,2023-11,2253.95,770061
4,ADANIENT,2233.35,2023-11-07 05:30:00,2260.00,2226.65,2023-11,2257.00,641554
...,...,...,...,...,...,...,...,...
13195,WIPRO,566.70,2024-11-14 05:30:00,574.55,564.20,2024-11,568.95,4891760
13196,WIPRO,552.85,2024-11-18 05:30:00,566.70,540.30,2024-11,566.70,7644882
13197,WIPRO,562.00,2024-11-19 05:30:00,569.80,554.70,2024-11,556.00,6459889
13198,WIPRO,557.15,2024-11-21 05:30:00,567.60,555.30,2024-11,562.00,5836304
13199,WIPRO,571.65,2024-11-22 05:30:00,573.60,557.90,2024-11,561.95,7366616

In [10]:
combined_stock_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13200 entries, 0 to 13199
Data columns (total 8 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ticker  13200 non-null  object
 1   close   13200 non-null  float64
 2   date    13200 non-null  object
 3   high    13200 non-null  float64
 4   low     13200 non-null  float64
 5   month   13200 non-null  object
 6   open    13200 non-null  float64
 7   volume  13200 non-null  int64
dtypes: float64(4), int64(1), object(3)
memory usage: 825.1+ KB

In [11]:
#convert str.date into datetime
combined_stock_csv["date"] = pd.to_datetime(combined_stock_csv['date'])

In [12]:
#split the date and create the new column for year
combined_stock_csv['year'] =combined_stock_csv['date'].dt.year #.dt means extract that data

In [13]:
#split the date and create the new column for month
combined_stock_csv['month'] = combined_stock_csv['date'].dt.to_period('M') # only month 2023-11

In [14]:
combined_stock_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13200 entries, 0 to 13199
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ticker  13200 non-null  object
 1   close   13200 non-null  float64
 2   date    13200 non-null  datetime64[ns]
 3   high    13200 non-null  float64
 4   low     13200 non-null  float64
 5   month   13200 non-null  period[M]
 6   open    13200 non-null  float64
 7   volume  13200 non-null  int64
 8   year    13200 non-null  int32
dtypes: datetime64[ns](1), float64(4), int32(1), int64(1), object(1), period[M](1)
memory usage: 876.7+ KB

In [15]:
#calculate the yearly return
yearly_returns = combined_stock_csv.groupby('Ticker').agg(
    yearly_return = ('close', lambda x:((x.iloc[-1] - x.iloc[0])/ x.iloc[0]) *100)
    #new column      yearly_return  = end close - start close / start close *100
).reset_index()

In [16]:
yearly_returns

        Ticker  yearly_return
0     ADANIENT       0.482569
1   ADANIPORTS      47.802626
2   APOLLOHOSP      44.585171
3   ASIANPAINT     -15.755397
4     AXISBANK      17.555052
5   BAJAJ-AUTO      77.414466
6   BAJAJFINSV       1.780208
7   BAJFINANCE     -10.545511
8          BEL     112.122356
9   BHARTIARTL      71.799223
10        BPCL      60.184926
11   BRITANNIA      10.257431
12       CIPLA      23.746098
13   COALINDIA      35.023643
14     DRREDDY      13.575363
15   EICHERMOT      51.914083
16      GRASIM      39.626038
17     HCLTECH      50.792327
18    HDFCBANK      18.385894
19    HDFCLIFE      10.991049
20  HEROMOTOCO      55.025950
21    HINDALCO      40.933650
22  HINDUNILVR      -1.092123
23   ICICIBANK      39.822767
24  INDUSINDBK     -30.322491
25        INFY      40.475575
26         ITC      10.873628
27    JSWSTEEL      34.909241
28   KOTAKBANK       2.148573
29          LT      24.460332
30         M&M     107.132545
31      MARUTI       8.171845
32   NESTLEIND      -5.863183
33        NTPC      57.115219
34        ONGC      31.547938
35   POWERGRID      67.678527
36    RELIANCE      10.159311
37     SBILIFE      11.159762
38        SBIN      44.076624
39  SHRIRAMFIN      49.825207
40   SUNPHARMA      60.840351
41  TATACONSUM       5.956998
42  TATAMOTORS      26.015613
43   TATASTEEL      22.452830
44         TCS      27.440590
45       TECHM      55.315083
46       TITAN       4.263566
47       TRENT     202.723364
48  ULTRACEMCO      35.719953
49       WIPRO      50.059063

In [17]:
yearly_return_df = pd.DataFrame(yearly_returns)

In [18]:
#calculate green_stocks
sorted_green_df = yearly_return_df.sort_values(by = 'yearly_return', ascending = False)

#green stock - +ve yearly return
Top_10_green_stocks = sorted_green_df.head(10)

In [19]:
Top_10_green_stocks.reset_index(drop= True)

       Ticker  yearly_return
0       TRENT     202.723364
1         BEL     112.122356
2         M&M     107.132545
3  BAJAJ-AUTO      77.414466
4  BHARTIARTL      71.799223
5   POWERGRID      67.678527
6   SUNPHARMA      60.840351
7        BPCL      60.184926
8        NTPC      57.115219
9       TECHM      55.315083

In [20]:
#calculate red_stocks
sorted_red_df = yearly_return_df.sort_values(by = 'yearly_return', ascending = True)

#red_stock - -ve yearly return
Top_10_red_stocks = sorted_red_df.head(10)

In [21]:
Top_10_red_stocks.reset_index(drop= True)

       Ticker  yearly_return
0  INDUSINDBK     -30.322491
1  ASIANPAINT     -15.755397
2  BAJFINANCE     -10.545511
3   NESTLEIND      -5.863183
4  HINDUNILVR      -1.092123
5    ADANIENT       0.482569
6  BAJAJFINSV       1.780208
7   KOTAKBANK       2.148573
8       TITAN       4.263566
9  TATACONSUM       5.956998

In [22]:
combined_stock_csv

,Ticker,close,date,high,low,month,open,volume,year
0,ADANIENT,2217.30,2023-11-01 05:30:00,2312.25,2207.00,2023-11,2299.00,1666579,2023
1,ADANIENT,2215.30,2023-11-02 05:30:00,2297.95,2204.20,2023-11,2247.00,2340997,2023
2,ADANIENT,2229.85,2023-11-03 05:30:00,2279.00,2215.00,2023-11,2215.30,1853300,2023
3,ADANIENT,2246.00,2023-11-06 05:30:00,2260.00,2233.00,2023-11,2253.95,770061,2023
4,ADANIENT,2233.35,2023-11-07 05:30:00,2260.00,2226.65,2023-11,2257.00,641554,2023
...,...,...,...,...,...,...,...,...,...
13195,WIPRO,566.70,2024-11-14 05:30:00,574.55,564.20,2024-11,568.95,4891760,2024
13196,WIPRO,552.85,2024-11-18 05:30:00,566.70,540.30,2024-11,566.70,7644882,2024
13197,WIPRO,562.00,2024-11-19 05:30:00,569.80,554.70,2024-11,556.00,6459889,2024
13198,WIPRO,557.15,2024-11-21 05:30:00,567.60,555.30,2024-11,562.00,5836304,2024
13199,WIPRO,571.65,2024-11-22 05:30:00,573.60,557.90,2024-11,561.95,7366616,2024

##### market summary:

In [23]:
#market summary:
#Calculate the overall number of green vs. red stocks
yearly_return_df['stocks'] = yearly_return_df['yearly_return'].apply(lambda x: 'Green' if x > 0 else 'Red')
no_of_green_stocks = yearly_return_df[yearly_return_df['stocks'] == 'Green'].shape[0]
no_of_red_stocks = yearly_return_df[yearly_return_df['stocks'] == 'Red'].shape[0]

print('Number of Green Stocks:', no_of_green_stocks)
print('Number of Red Stocks:', no_of_red_stocks)

#Calculate the average price across all stocks.

avg_price = combined_stock_csv['close'].mean()
print('Average price of all stocks:', avg_price)

#Calculate the average Volume across all stocks

avg_volume = combined_stock_csv['volume'].mean()
print('Average volume of all stocks:', avg_volume)

Number of Green Stocks: 45
Number of Red Stocks: 5
Average price of all stocks: 2481.5897325757574
Average volume of all stocks: 6997734.984318182

##### Volatility

In [24]:
#calculate the daily returns 
combined_stock_csv['daily_return'] = combined_stock_csv.groupby('Ticker')['close'].pct_change() #new val - old val/old val

In [25]:
#volatility calculation - std(daily_return)
Volatility = combined_stock_csv.groupby('Ticker')['daily_return'].std().reset_index(name = 'volatility')

In [26]:
Volatility_df = pd.DataFrame(Volatility)

In [27]:
Volatility_df

        Ticker  volatility
0     ADANIENT    0.029218
1   ADANIPORTS    0.026583
2   APOLLOHOSP    0.014379
3   ASIANPAINT    0.012820
4     AXISBANK    0.015557
5   BAJAJ-AUTO    0.017550
6   BAJAJFINSV    0.013871
7   BAJFINANCE    0.015950
8          BEL    0.023817
9   BHARTIARTL    0.013821
10        BPCL    0.022545
11   BRITANNIA    0.013445
12       CIPLA    0.016533
13   COALINDIA    0.021675
14     DRREDDY    0.012642
15   EICHERMOT    0.016439
16      GRASIM    0.014558
17     HCLTECH    0.014423
18    HDFCBANK    0.013752
19    HDFCLIFE    0.014805
20  HEROMOTOCO    0.016588
21    HINDALCO    0.020056
22  HINDUNILVR    0.012348
23   ICICIBANK    0.013061
24  INDUSINDBK    0.019416
25        INFY    0.014641
26         ITC    0.012151
27    JSWSTEEL    0.016595
28   KOTAKBANK    0.014412
29          LT    0.017325
30         M&M    0.019533
31      MARUTI    0.013889
32   NESTLEIND    0.012229
33        NTPC    0.019898
34        ONGC    0.022920
35   POWERGRID    0.019216
36    RELIANCE    0.013804
37     SBILIFE    0.015199
38        SBIN    0.018260
39  SHRIRAMFIN    0.021491
40   SUNPHARMA    0.011718
41  TATACONSUM    0.015109
42  TATAMOTORS    0.017943
43   TATASTEEL    0.018581
44         TCS    0.013310
45       TECHM    0.016298
46       TITAN    0.014250
47       TRENT    0.023491
48  ULTRACEMCO    0.014443
49       WIPRO    0.017751

In [28]:
top_10_volatility = Volatility_df.sort_values(by = 'volatility', ascending=False).head(10).reset_index(drop=True)

In [29]:
top_10_volatility

       Ticker  volatility
0    ADANIENT    0.029218
1  ADANIPORTS    0.026583
2         BEL    0.023817
3       TRENT    0.023491
4        ONGC    0.022920
5        BPCL    0.022545
6   COALINDIA    0.021675
7  SHRIRAMFIN    0.021491
8    HINDALCO    0.020056
9        NTPC    0.019898

In [30]:
top_10_volatility.values.tolist()

[['ADANIENT', 0.029218242146486193],
 ['ADANIPORTS', 0.026583304191279918],
 ['BEL', 0.023817287403780866],
 ['TRENT', 0.02349132617889144],
 ['ONGC', 0.02292014006307531],
 ['BPCL', 0.022545255719205935],
 ['COALINDIA', 0.02167531301026797],
 ['SHRIRAMFIN', 0.021491120566612176],
 ['HINDALCO', 0.020056042232840854],
 ['NTPC', 0.01989827774893942]]

In [31]:
combined_stock_csv.isnull().sum()

Ticker           0
close            0
date             0
high             0
low              0
month            0
open             0
volume           0
year             0
daily_return    50
dtype: int64

##### cumulative return

In [32]:
cumulative_returns = combined_stock_csv.groupby('Ticker').agg(
    cumulative_return = ('close', lambda x: ((x.iloc[-1] - x.iloc[0]) / x.iloc[0]) * 100)
    
).reset_index()

In [33]:
cumulative_returns_df = pd.DataFrame(cumulative_returns)

In [34]:
cumulative_returns_df

        Ticker  cumulative_return
0     ADANIENT           0.482569
1   ADANIPORTS          47.802626
2   APOLLOHOSP          44.585171
3   ASIANPAINT         -15.755397
4     AXISBANK          17.555052
5   BAJAJ-AUTO          77.414466
6   BAJAJFINSV           1.780208
7   BAJFINANCE         -10.545511
8          BEL         112.122356
9   BHARTIARTL          71.799223
10        BPCL          60.184926
11   BRITANNIA          10.257431
12       CIPLA          23.746098
13   COALINDIA          35.023643
14     DRREDDY          13.575363
15   EICHERMOT          51.914083
16      GRASIM          39.626038
17     HCLTECH          50.792327
18    HDFCBANK          18.385894
19    HDFCLIFE          10.991049
20  HEROMOTOCO          55.025950
21    HINDALCO          40.933650
22  HINDUNILVR          -1.092123
23   ICICIBANK          39.822767
24  INDUSINDBK         -30.322491
25        INFY          40.475575
26         ITC          10.873628
27    JSWSTEEL          34.909241
28   KOTAKBANK           2.148573
29          LT          24.460332
30         M&M         107.132545
31      MARUTI           8.171845
32   NESTLEIND          -5.863183
33        NTPC          57.115219
34        ONGC          31.547938
35   POWERGRID          67.678527
36    RELIANCE          10.159311
37     SBILIFE          11.159762
38        SBIN          44.076624
39  SHRIRAMFIN          49.825207
40   SUNPHARMA          60.840351
41  TATACONSUM           5.956998
42  TATAMOTORS          26.015613
43   TATASTEEL          22.452830
44         TCS          27.440590
45       TECHM          55.315083
46       TITAN           4.263566
47       TRENT         202.723364
48  ULTRACEMCO          35.719953
49       WIPRO          50.059063

In [35]:
top_5_cumulative_return = cumulative_returns_df.sort_values(by = 'cumulative_return', ascending=False).head().reset_index(drop=True)

In [36]:
top_5_cumulative_return

       Ticker  cumulative_return
0       TRENT         202.723364
1         BEL         112.122356
2         M&M         107.132545
3  BAJAJ-AUTO          77.414466
4  BHARTIARTL          71.799223

In [37]:
combined_stock_csv

,Ticker,close,date,high,low,month,open,volume,year,daily_return
0,ADANIENT,2217.30,2023-11-01 05:30:00,2312.25,2207.00,2023-11,2299.00,1666579,2023,NaN
1,ADANIENT,2215.30,2023-11-02 05:30:00,2297.95,2204.20,2023-11,2247.00,2340997,2023,-0.000902
2,ADANIENT,2229.85,2023-11-03 05:30:00,2279.00,2215.00,2023-11,2215.30,1853300,2023,0.006568
3,ADANIENT,2246.00,2023-11-06 05:30:00,2260.00,2233.00,2023-11,2253.95,770061,2023,0.007243
4,ADANIENT,2233.35,2023-11-07 05:30:00,2260.00,2226.65,2023-11,2257.00,641554,2023,-0.005632
...,...,...,...,...,...,...,...,...,...,...
13195,WIPRO,566.70,2024-11-14 05:30:00,574.55,564.20,2024-11,568.95,4891760,2024,-0.004042
13196,WIPRO,552.85,2024-11-18 05:30:00,566.70,540.30,2024-11,566.70,7644882,2024,-0.024440
13197,WIPRO,562.00,2024-11-19 05:30:00,569.80,554.70,2024-11,556.00,6459889,2024,0.016551
13198,WIPRO,557.15,2024-11-21 05:30:00,567.60,555.30,2024-11,562.00,5836304,2024,-0.008630
13199,WIPRO,571.65,2024-11-22 05:30:00,573.60,557.90,2024-11,561.95,7366616,2024,0.026025




##### Sector-wise Performance

In [38]:
sector_df = pd.read_csv("e:\Sector_data - Sheet1.csv")

<>:1: SyntaxWarning: invalid escape sequence '\S'
<>:1: SyntaxWarning: invalid escape sequence '\S'
C:\Users\ADMIN\AppData\Local\Temp\ipykernel_2132\2943451928.py:1: SyntaxWarning: invalid escape sequence '\S'
  sector_df = pd.read_csv("e:\Sector_data - Sheet1.csv")

In [39]:
sector_df

,COMPANY,sector,Symbol
0,ADANI ENTERPRISES,MISCELLANEOUS,ADANI ENTERPRISES: ADANIENT
1,ADANI PORTS & SEZ,MISCELLANEOUS,ADANI PORTS & SEZ: ADANIPORTS
2,APOLLO HOSPITALS,MISCELLANEOUS,APOLLO HOSPITALS: APOLLOHOSP
3,ASIAN PAINTS,PAINTS,ASIAN PAINTS: ASIANPAINT
4,AXIS BANK,BANKING,AXIS BANK: AXISBANK
5,BAJAJ AUTO,AUTOMOBILES,BAJAJ AUTO: BAJAJ-AUTO
6,BAJAJ FINANCE,FINANCE,BAJAJ FINANCE: BAJFINANCE
7,BAJAJ FINSERV,FINANCE,BAJAJ FINSERV: BAJAJFINSV
8,BHARAT ELECTRONICS,DEFENCE,BHARAT ELECTRONICS: BEL
9,BHARTI AIRTEL,TELECOM,BHARTI AIRTEL: BHARTIARTL
10,BPCL,ENERGY,BPCL: BPCL
11,BRITANNIA INDUSTRIES LIMITED,FOOD & TOBACCO,BRITANNIA INDUSTRIES LIMITED: BRITANNIA
12,CIPLA,PHARMACEUTICALS,CIPLA: CIPLA
13,COAL INDIA,MINING,COAL INDIA: COALINDIA
14,DR. REDDYS LAB,PHARMACEUTICALS,DR. REDDYS LAB: DRREDDY
15,EICHER MOTORS,AUTOMOBILES,EICHER MOTORS: EICHERMOT
16,GRASIM,TEXTILES,GRASIM: GRASIM
17,HCL TECHNOLOGIES,SOFTWARE,HCL TECHNOLOGIES: HCLTECH
18,HDFC BANK,BANKING,HDFC BANK: HDFCBANK
19,HDFC LIFE INSURANCE,INSURANCE,HDFC LIFE INSURANCE: HDFCLIFE
20,HERO MOTOCORP,AUTOMOBILES,HERO MOTOCORP: HEROMOTOCO
21,HINDALCO,ALUMINIUM,HINDALCO: HINDALCO
22,HINDUSTAN UNILEVER,FMCG,HINDUSTAN UNILEVER: HINDUNILVR
23,ICICI BANK,BANKING,ICICI BANK: ICICIBANK
24,INDUSIND BANK,BANKING,INDUSIND BANK: INDUSINDBK
25,INFOSYS,SOFTWARE,INFOSYS: INFY
26,IOC,ENERGY,IOC: IOC
27,ITC,FOOD & TOBACCO,ITC: ITC
28,JSW STEEL,STEEL,JSW STEEL: JSWSTEEL
29,KOTAK MAHINDRA BANK,BANKING,KOTAK MAHINDRA BANK: KOTAKBANK
30,L&T,ENGINEERING,L&T: LT
31,M&M,AUTOMOBILES,M&M: M&M
32,MARUTI SUZUKI,AUTOMOBILES,MARUTI SUZUKI: MARUTI
33,NESTLE,FOOD & TOBACCO,NESTLE: NESTLEIND
34,NTPC,POWER,NTPC: NTPC
35,ONGC,ENERGY,ONGC: ONGC
36,POWER GRID,POWER,POWER GRID: POWERGRID
37,RELIANCE IND.,ENERGY,RELIANCE IND.: RELIANCE
38,SBI,BANKING,SBI: SBIN
39,SBI LIFE INSURANCE,INSURANCE,SBI LIFE INSURANCE: SBILIFE
40,SHRIRAM FINANCE,FINANCE,SHRIRAM FINANCE: SHRIRAMFIN
41,SUN PHARMA,PHARMACEUTICALS,SUN PHARMA: SUNPHARMA
42,TATA CONSUMER,FMCG,TATA CONSUMER: TATACONSUM
43,TATA MOTORS,AUTOMOBILES,TATA MOTORS: TATAMOTORS
44,TATA STEEL,STEEL,TATA STEEL: TATASTEEL
45,TCS,SOFTWARE,TCS: TCS
46,TECH MAHINDRA,SOFTWARE,TECH MAHINDRA: TECHM
47,TITAN,RETAILING,TITAN: TITAN
48,TRENT,RETAILING,TRENT: TRENT
49,ULTRATECH CEMENT,CEMENT,ULTRATECH CEMENT: ULTRACEMCO
50,WIPRO,SOFTWARE,WIPRO: WIPRO

In [40]:
#split the symbol column based on colon
sector_df['Symbol'] = sector_df['Symbol'].str.split(':').str[1]

In [41]:
#using strip remove the white space
sector_df['Symbol'] = sector_df['Symbol'].str.strip()

In [42]:
sector_df

                         COMPANY           sector      Symbol
0              ADANI ENTERPRISES    MISCELLANEOUS    ADANIENT
1              ADANI PORTS & SEZ    MISCELLANEOUS  ADANIPORTS
2               APOLLO HOSPITALS    MISCELLANEOUS  APOLLOHOSP
3                   ASIAN PAINTS           PAINTS  ASIANPAINT
4                      AXIS BANK          BANKING    AXISBANK
5                     BAJAJ AUTO      AUTOMOBILES  BAJAJ-AUTO
6                  BAJAJ FINANCE          FINANCE  BAJFINANCE
7                  BAJAJ FINSERV          FINANCE  BAJAJFINSV
8             BHARAT ELECTRONICS          DEFENCE         BEL
9                  BHARTI AIRTEL          TELECOM  BHARTIARTL
10                          BPCL           ENERGY        BPCL
11  BRITANNIA INDUSTRIES LIMITED   FOOD & TOBACCO   BRITANNIA
12                         CIPLA  PHARMACEUTICALS       CIPLA
13                    COAL INDIA           MINING   COALINDIA
14                DR. REDDYS LAB  PHARMACEUTICALS     DRREDDY
15                 EICHER MOTORS      AUTOMOBILES   EICHERMOT
16                        GRASIM         TEXTILES      GRASIM
17              HCL TECHNOLOGIES         SOFTWARE     HCLTECH
18                     HDFC BANK          BANKING    HDFCBANK
19           HDFC LIFE INSURANCE        INSURANCE    HDFCLIFE
20                 HERO MOTOCORP      AUTOMOBILES  HEROMOTOCO
21                      HINDALCO        ALUMINIUM    HINDALCO
22            HINDUSTAN UNILEVER             FMCG  HINDUNILVR
23                    ICICI BANK          BANKING   ICICIBANK
24                 INDUSIND BANK          BANKING  INDUSINDBK
25                       INFOSYS         SOFTWARE        INFY
26                           IOC           ENERGY         IOC
27                           ITC   FOOD & TOBACCO         ITC
28                     JSW STEEL            STEEL    JSWSTEEL
29           KOTAK MAHINDRA BANK          BANKING   KOTAKBANK
30                           L&T      ENGINEERING          LT
31                           M&M      AUTOMOBILES         M&M
32                 MARUTI SUZUKI      AUTOMOBILES      MARUTI
33                        NESTLE   FOOD & TOBACCO   NESTLEIND
34                          NTPC            POWER        NTPC
35                          ONGC           ENERGY        ONGC
36                    POWER GRID            POWER   POWERGRID
37                 RELIANCE IND.           ENERGY    RELIANCE
38                           SBI          BANKING        SBIN
39            SBI LIFE INSURANCE        INSURANCE     SBILIFE
40               SHRIRAM FINANCE          FINANCE  SHRIRAMFIN
41                    SUN PHARMA  PHARMACEUTICALS   SUNPHARMA
42                 TATA CONSUMER             FMCG  TATACONSUM
43                   TATA MOTORS      AUTOMOBILES  TATAMOTORS
44                    TATA STEEL            STEEL   TATASTEEL
45                           TCS         SOFTWARE         TCS
46                 TECH MAHINDRA         SOFTWARE       TECHM
47                         TITAN        RETAILING       TITAN
48                         TRENT        RETAILING       TRENT
49              ULTRATECH CEMENT           CEMENT  ULTRACEMCO
50                         WIPRO         SOFTWARE       WIPRO

In [43]:
#wrong data
#ADANIENT
#BHARTIARTL
#TATACONSUM
#missing - BRITANNIA
#Company: Britannia Industries Limited.
#Sector: Food and Tobacco.
#Symbol: BRITANNIA.
#wrong replace data: IOC ENERGY	IOC

In [44]:
#merge sector data
combined_stock_csv = pd.merge(combined_stock_csv, sector_df, left_on = 'Ticker', right_on = 'Symbol', how = 'left')

In [45]:
combined_stock_csv

,Ticker,close,date,high,low,month,open,volume,year,daily_return,COMPANY,sector,Symbol
0,ADANIENT,2217.30,2023-11-01 05:30:00,2312.25,2207.00,2023-11,2299.00,1666579,2023,NaN,ADANI ENTERPRISES,MISCELLANEOUS,ADANIENT
1,ADANIENT,2215.30,2023-11-02 05:30:00,2297.95,2204.20,2023-11,2247.00,2340997,2023,-0.000902,ADANI ENTERPRISES,MISCELLANEOUS,ADANIENT
2,ADANIENT,2229.85,2023-11-03 05:30:00,2279.00,2215.00,2023-11,2215.30,1853300,2023,0.006568,ADANI ENTERPRISES,MISCELLANEOUS,ADANIENT
3,ADANIENT,2246.00,2023-11-06 05:30:00,2260.00,2233.00,2023-11,2253.95,770061,2023,0.007243,ADANI ENTERPRISES,MISCELLANEOUS,ADANIENT
4,ADANIENT,2233.35,2023-11-07 05:30:00,2260.00,2226.65,2023-11,2257.00,641554,2023,-0.005632,ADANI ENTERPRISES,MISCELLANEOUS,ADANIENT
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13195,WIPRO,566.70,2024-11-14 05:30:00,574.55,564.20,2024-11,568.95,4891760,2024,-0.004042,WIPRO,SOFTWARE,WIPRO
13196,WIPRO,552.85,2024-11-18 05:30:00,566.70,540.30,2024-11,566.70,7644882,2024,-0.024440,WIPRO,SOFTWARE,WIPRO
13197,WIPRO,562.00,2024-11-19 05:30:00,569.80,554.70,2024-11,556.00,6459889,2024,0.016551,WIPRO,SOFTWARE,WIPRO
13198,WIPRO,557.15,2024-11-21 05:30:00,567.60,555.30,2024-11,562.00,5836304,2024,-0.008630,WIPRO,SOFTWARE,WIPRO
13199,WIPRO,571.65,2024-11-22 05:30:00,573.60,557.90,2024-11,561.95,7366616,2024,0.026025,WIPRO,SOFTWARE,WIPRO

In [46]:
combined_stock_csv.isnull().sum()

Ticker           0
close            0
date             0
high             0
low              0
month            0
open             0
volume           0
year             0
daily_return    50
COMPANY          0
sector           0
Symbol           0
dtype: int64

In [47]:
combined_stock_csv.drop('Symbol', axis = 1, inplace = True)

In [48]:
combined_stock_csv.rename(columns={'COMPANY':'company'}, inplace = True)

In [49]:
combined_stock_csv

,Ticker,close,date,high,low,month,open,volume,year,daily_return,company,sector
0,ADANIENT,2217.30,2023-11-01 05:30:00,2312.25,2207.00,2023-11,2299.00,1666579,2023,NaN,ADANI ENTERPRISES,MISCELLANEOUS
1,ADANIENT,2215.30,2023-11-02 05:30:00,2297.95,2204.20,2023-11,2247.00,2340997,2023,-0.000902,ADANI ENTERPRISES,MISCELLANEOUS
2,ADANIENT,2229.85,2023-11-03 05:30:00,2279.00,2215.00,2023-11,2215.30,1853300,2023,0.006568,ADANI ENTERPRISES,MISCELLANEOUS
3,ADANIENT,2246.00,2023-11-06 05:30:00,2260.00,2233.00,2023-11,2253.95,770061,2023,0.007243,ADANI ENTERPRISES,MISCELLANEOUS
4,ADANIENT,2233.35,2023-11-07 05:30:00,2260.00,2226.65,2023-11,2257.00,641554,2023,-0.005632,ADANI ENTERPRISES,MISCELLANEOUS
...,...,...,...,...,...,...,...,...,...,...,...,...
13195,WIPRO,566.70,2024-11-14 05:30:00,574.55,564.20,2024-11,568.95,4891760,2024,-0.004042,WIPRO,SOFTWARE
13196,WIPRO,552.85,2024-11-18 05:30:00,566.70,540.30,2024-11,566.70,7644882,2024,-0.024440,WIPRO,SOFTWARE
13197,WIPRO,562.00,2024-11-19 05:30:00,569.80,554.70,2024-11,556.00,6459889,2024,0.016551,WIPRO,SOFTWARE
13198,WIPRO,557.15,2024-11-21 05:30:00,567.60,555.30,2024-11,562.00,5836304,2024,-0.008630,WIPRO,SOFTWARE
13199,WIPRO,571.65,2024-11-22 05:30:00,573.60,557.90,2024-11,561.95,7366616,2024,0.026025,WIPRO,SOFTWARE

In [50]:
#merge yearly_return
combined_stock_csv = pd.merge(combined_stock_csv, yearly_returns, on = 'Ticker', how = 'left')

In [51]:
sector_performance = combined_stock_csv.groupby('sector')['yearly_return'].mean().reset_index(name= 'avg_yearly_return')

In [52]:
sector_performance

             sector  avg_yearly_return
0         ALUMINIUM          40.933650
1       AUTOMOBILES          54.279084
2           BANKING          15.277737
3            CEMENT          35.719953
4           DEFENCE         112.122356
5            ENERGY          33.964058
6       ENGINEERING          24.460332
7           FINANCE          13.686635
8              FMCG           2.432438
9    FOOD & TOBACCO           5.089292
10        INSURANCE          11.075406
11           MINING          35.023643
12    MISCELLANEOUS          30.956789
13           PAINTS         -15.755397
14  PHARMACEUTICALS          32.720604
15            POWER          62.396873
16        RETAILING         103.493465
17         SOFTWARE          44.816528
18            STEEL          28.681036
19          TELECOM          71.799223
20         TEXTILES          39.626038

In [53]:
combined_stock_csv

,Ticker,close,date,high,low,month,open,volume,year,daily_return,company,sector,yearly_return
0,ADANIENT,2217.30,2023-11-01 05:30:00,2312.25,2207.00,2023-11,2299.00,1666579,2023,NaN,ADANI ENTERPRISES,MISCELLANEOUS,0.482569
1,ADANIENT,2215.30,2023-11-02 05:30:00,2297.95,2204.20,2023-11,2247.00,2340997,2023,-0.000902,ADANI ENTERPRISES,MISCELLANEOUS,0.482569
2,ADANIENT,2229.85,2023-11-03 05:30:00,2279.00,2215.00,2023-11,2215.30,1853300,2023,0.006568,ADANI ENTERPRISES,MISCELLANEOUS,0.482569
3,ADANIENT,2246.00,2023-11-06 05:30:00,2260.00,2233.00,2023-11,2253.95,770061,2023,0.007243,ADANI ENTERPRISES,MISCELLANEOUS,0.482569
4,ADANIENT,2233.35,2023-11-07 05:30:00,2260.00,2226.65,2023-11,2257.00,641554,2023,-0.005632,ADANI ENTERPRISES,MISCELLANEOUS,0.482569
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13195,WIPRO,566.70,2024-11-14 05:30:00,574.55,564.20,2024-11,568.95,4891760,2024,-0.004042,WIPRO,SOFTWARE,50.059063
13196,WIPRO,552.85,2024-11-18 05:30:00,566.70,540.30,2024-11,566.70,7644882,2024,-0.024440,WIPRO,SOFTWARE,50.059063
13197,WIPRO,562.00,2024-11-19 05:30:00,569.80,554.70,2024-11,556.00,6459889,2024,0.016551,WIPRO,SOFTWARE,50.059063
13198,WIPRO,557.15,2024-11-21 05:30:00,567.60,555.30,2024-11,562.00,5836304,2024,-0.008630,WIPRO,SOFTWARE,50.059063
13199,WIPRO,571.65,2024-11-22 05:30:00,573.60,557.90,2024-11,561.95,7366616,2024,0.026025,WIPRO,SOFTWARE,50.059063

In [54]:
combined_stock_csv['daily_return'].fillna(0)

0        0.000000
1       -0.000902
2        0.006568
3        0.007243
4       -0.005632
           ...
13195   -0.004042
13196   -0.024440
13197    0.016551
13198   -0.008630
13199    0.026025
Name: daily_return, Length: 13200, dtype: float64

In [55]:
combined_stock_csv['daily_return'] = combined_stock_csv['daily_return'].fillna(0)

#### Stock Price Correlation:

In [56]:
combined_stock_csv

,Ticker,close,date,high,low,month,open,volume,year,daily_return,company,sector,yearly_return
0,ADANIENT,2217.30,2023-11-01 05:30:00,2312.25,2207.00,2023-11,2299.00,1666579,2023,0.000000,ADANI ENTERPRISES,MISCELLANEOUS,0.482569
1,ADANIENT,2215.30,2023-11-02 05:30:00,2297.95,2204.20,2023-11,2247.00,2340997,2023,-0.000902,ADANI ENTERPRISES,MISCELLANEOUS,0.482569
2,ADANIENT,2229.85,2023-11-03 05:30:00,2279.00,2215.00,2023-11,2215.30,1853300,2023,0.006568,ADANI ENTERPRISES,MISCELLANEOUS,0.482569
3,ADANIENT,2246.00,2023-11-06 05:30:00,2260.00,2233.00,2023-11,2253.95,770061,2023,0.007243,ADANI ENTERPRISES,MISCELLANEOUS,0.482569
4,ADANIENT,2233.35,2023-11-07 05:30:00,2260.00,2226.65,2023-11,2257.00,641554,2023,-0.005632,ADANI ENTERPRISES,MISCELLANEOUS,0.482569
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13195,WIPRO,566.70,2024-11-14 05:30:00,574.55,564.20,2024-11,568.95,4891760,2024,-0.004042,WIPRO,SOFTWARE,50.059063
13196,WIPRO,552.85,2024-11-18 05:30:00,566.70,540.30,2024-11,566.70,7644882,2024,-0.024440,WIPRO,SOFTWARE,50.059063
13197,WIPRO,562.00,2024-11-19 05:30:00,569.80,554.70,2024-11,556.00,6459889,2024,0.016551,WIPRO,SOFTWARE,50.059063
13198,WIPRO,557.15,2024-11-21 05:30:00,567.60,555.30,2024-11,562.00,5836304,2024,-0.008630,WIPRO,SOFTWARE,50.059063
13199,WIPRO,571.65,2024-11-22 05:30:00,573.60,557.90,2024-11,561.95,7366616,2024,0.026025,WIPRO,SOFTWARE,50.059063

In [57]:
# correlation between the stock prices of different companies.

In [58]:
# Pivot table to organize stock prices
pivot_data = combined_stock_csv.pivot_table(
    values ='close',
    index = 'date',
    columns = 'company'
)

In [61]:
pivot_data

company,ADANI ENTERPRISES,ADANI PORTS & SEZ,APOLLO HOSPITALS,ASIAN PAINTS,AXIS BANK,BAJAJ AUTO,BAJAJ FINANCE,BAJAJ FINSERV,BHARAT ELECTRONICS,BHARTI AIRTEL,...,SUN PHARMA,TATA CONSUMER,TATA MOTORS,TATA STEEL,TCS,TECH MAHINDRA,TITAN,TRENT,ULTRATECH CEMENT,WIPRO
date,,,,,,,,,,,,,,,,,,,,,
2023-11-01 05:30:00,2217.30,769.10,4796.55,2934.55,971.80,5344.35,7471.90,1572.85,132.40,913.45,...,1116.20,892.06,627.70,116.60,3330.65,1125.10,3173.40,2197.65,8381.45,380.95
2023-11-02 05:30:00,2215.30,774.30,4887.00,2955.40,982.95,5318.40,7449.10,1575.60,134.75,923.85,...,1132.85,900.06,636.45,118.10,3360.10,1115.50,3201.50,2189.85,8459.00,383.65
2023-11-03 05:30:00,2229.85,795.40,5153.20,2977.85,988.85,5368.95,7411.50,1536.15,135.95,930.75,...,1141.10,902.48,647.50,117.30,3350.90,1133.10,3274.50,2196.50,8522.60,383.55
2023-11-06 05:30:00,2246.00,802.50,5164.95,3029.30,1009.40,5406.85,7562.05,1564.40,137.65,939.20,...,1150.00,907.37,646.05,119.40,3380.25,1142.15,3267.05,2233.20,8640.95,384.65
2023-11-07 05:30:00,2233.35,797.55,5136.85,3033.35,1020.90,5419.00,7495.60,1569.80,138.05,937.15,...,1170.95,910.73,645.00,119.65,3370.45,1149.00,3270.20,2424.00,8685.75,383.30
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2024-11-14 05:30:00,2826.80,1264.55,6860.65,2483.15,1140.70,9482.95,6549.15,1639.80,280.95,1550.50,...,1768.20,925.00,774.30,137.98,4145.90,1687.50,3183.70,6463.00,10728.50,566.70
2024-11-18 05:30:00,2818.70,1279.30,6741.90,2483.70,1126.20,9516.50,6567.95,1616.00,278.05,1537.00,...,1747.75,930.75,771.90,141.21,4019.50,1660.80,3172.30,6301.65,10630.90,552.85
2024-11-19 05:30:00,2821.50,1289.65,6686.90,2483.70,1133.95,9545.70,6595.30,1596.35,279.00,1525.50,...,1777.25,917.15,783.20,139.46,4039.55,1699.65,3224.70,6423.85,10769.55,562.00
2024-11-21 05:30:00,2183.65,1114.65,6742.50,2428.15,1139.15,9505.00,6465.65,1569.25,275.45,1525.15,...,1780.00,911.70,773.85,140.22,4072.85,1702.25,3178.45,6460.45,10954.85,557.15
2024-11-22 05:30:00,2228.00,1136.75,6935.10,2472.20,1142.40,9481.65,6683.95,1600.85,280.85,1569.30,...,1795.30,945.20,791.00,142.78,4244.60,1747.45,3308.70,6652.80,11375.30,571.65

In [59]:
correlation_matrix = pivot_data.corr()

In [60]:
correlation_matrix

company,ADANI ENTERPRISES,ADANI PORTS & SEZ,APOLLO HOSPITALS,ASIAN PAINTS,AXIS BANK,BAJAJ AUTO,BAJAJ FINANCE,BAJAJ FINSERV,BHARAT ELECTRONICS,BHARTI AIRTEL,...,SUN PHARMA,TATA CONSUMER,TATA MOTORS,TATA STEEL,TCS,TECH MAHINDRA,TITAN,TRENT,ULTRATECH CEMENT,WIPRO
company,,,,,,,,,,,,,,,,,,,,,
ADANI ENTERPRISES,1.000000,0.791319,0.446468,-0.155700,0.403995,0.520872,-0.254531,0.015504,0.490427,0.357043,...,0.423120,0.711027,0.714605,0.665086,0.496788,0.177480,0.338157,0.297536,0.451498,0.495280
ADANI PORTS & SEZ,0.791319,1.000000,0.737667,-0.219709,0.702007,0.850390,-0.282005,0.175439,0.880228,0.784144,...,0.781490,0.752940,0.887103,0.796919,0.776895,0.612594,0.017737,0.728790,0.799832,0.739695
APOLLO HOSPITALS,0.446468,0.737667,1.000000,-0.115628,0.485768,0.859841,-0.186790,0.528027,0.684202,0.842401,...,0.935930,0.540529,0.572771,0.385723,0.832992,0.849603,0.090292,0.856752,0.766558,0.883375
ASIAN PAINTS,-0.155700,-0.219709,-0.115628,1.000000,0.059659,-0.116982,0.644102,0.488847,-0.218585,-0.143534,...,-0.176559,0.071613,-0.217475,-0.346471,0.004897,0.002613,0.447292,-0.047731,0.096789,-0.206968
AXIS BANK,0.403995,0.702007,0.485768,0.059659,1.000000,0.674659,0.103988,0.314606,0.831813,0.719701,...,0.522348,0.390578,0.481819,0.643295,0.504207,0.636385,-0.196512,0.679069,0.833982,0.591470
BAJAJ AUTO,0.520872,0.850390,0.859841,-0.116982,0.674659,1.000000,-0.083159,0.527479,0.841588,0.945599,...,0.930666,0.612502,0.716209,0.684806,0.786210,0.784945,0.026973,0.926043,0.814367,0.769464
BAJAJ FINANCE,-0.254531,-0.282005,-0.186790,0.644102,0.103988,-0.083159,1.000000,0.539429,-0.167390,-0.090773,...,-0.234706,-0.202305,-0.367896,-0.159545,-0.273287,-0.074078,0.285924,-0.068482,0.019899,-0.275541
BAJAJ FINSERV,0.015504,0.175439,0.528027,0.488847,0.314606,0.527479,0.539429,1.000000,0.216451,0.514870,...,0.524317,0.147296,0.024466,0.012159,0.402901,0.558976,0.331152,0.581120,0.452398,0.367743
BHARAT ELECTRONICS,0.490427,0.880228,0.684202,-0.218585,0.831813,0.841588,-0.167390,0.216451,1.000000,0.885046,...,0.756308,0.491841,0.698232,0.770822,0.664863,0.748980,-0.300264,0.834698,0.870540,0.692244
BHARTI AIRTEL,0.357043,0.784144,0.842401,-0.143534,0.719701,0.945599,-0.090773,0.514870,0.885046,1.000000,...,0.919888,0.438891,0.582306,0.608614,0.722566,0.886325,-0.183942,0.971866,0.844837,0.761676
BPCL,0.670278,0.914866,0.818285,-0.225451,0.571494,0.900925,-0.366346,0.308624,0.801436,0.825094,...,0.885665,0.706572,0.859341,0.710044,0.837747,0.664561,0.034988,0.808327,0.726098,0.752109
BRITANNIA INDUSTRIES LIMITED,0.313905,0.666778,0.709000,0.322980,0.754977,0.793184,0.142918,0.615265,0.755282,0.829566,...,0.739032,0.519332,0.476254,0.414064,0.706150,0.822693,-0.019346,0.842411,0.889642,0.641654
CIPLA,0.548964,0.860408,0.863159,-0.163230,0.614124,0.937250,-0.217567,0.399294,0.826821,0.881172,...,0.916196,0.672317,0.751640,0.625229,0.834227,0.771092,0.020582,0.876302,0.805396,0.798784
COAL INDIA,0.680998,0.943614,0.720883,-0.157821,0.662366,0.861095,-0.315648,0.191577,0.866669,0.796324,...,0.790239,0.753356,0.902068,0.780526,0.784601,0.615942,-0.029468,0.762195,0.768951,0.672585
DR. REDDYS LAB,0.465057,0.801479,0.831142,-0.020340,0.568174,0.799437,-0.294966,0.357198,0.735017,0.770307,...,0.856497,0.694839,0.768705,0.454615,0.891803,0.757154,0.026090,0.796427,0.800402,0.784037
EICHER MOTORS,0.322257,0.747585,0.628852,-0.127224,0.799361,0.803393,-0.076690,0.334976,0.920411,0.875125,...,0.715667,0.322570,0.574857,0.707325,0.592470,0.738499,-0.349219,0.835986,0.796843,0.573666
GRASIM,0.384711,0.833969,0.764783,-0.089225,0.816879,0.884223,-0.097912,0.420264,0.935015,0.931452,...,0.847279,0.501008,0.673463,0.662350,0.756655,0.842339,-0.217792,0.910734,0.909605,0.751288
HCL TECHNOLOGIES,0.292892,0.522200,0.897453,-0.034524,0.324654,0.688858,-0.157082,0.574494,0.468415,0.694178,...,0.841663,0.415807,0.345724,0.092083,0.793308,0.838103,0.178590,0.754409,0.656750,0.877438
HDFC BANK,-0.048696,0.271808,0.407174,0.322564,0.636013,0.434999,0.403468,0.571585,0.524812,0.576173,...,0.413116,-0.067781,-0.027912,0.142881,0.292260,0.682128,-0.176609,0.609575,0.672489,0.417025
HDFC LIFE INSURANCE,-0.202555,0.147177,0.520796,0.398818,0.247081,0.394548,0.235384,0.697577,0.292808,0.500883,...,0.539862,0.031938,0.020511,-0.191486,0.478530,0.700275,0.017982,0.606981,0.506848,0.393083
HERO MOTOCORP,0.627652,0.898453,0.740034,-0.081038,0.793940,0.908652,-0.129696,0.329725,0.878782,0.857502,...,0.780506,0.691251,0.765786,0.760900,0.752614,0.705536,0.007812,0.809870,0.864797,0.730754
HINDALCO,0.401235,0.743030,0.633046,-0.033404,0.792602,0.832622,0.052110,0.441202,0.881815,0.888735,...,0.717722,0.370016,0.529573,0.721785,0.555099,0.743196,-0.220916,0.844076,0.810331,0.594305
HINDUSTAN UNILEVER,-0.046890,0.267531,0.442368,0.620054,0.517338,0.471864,0.348690,0.646575,0.410541,0.522248,...,0.449091,0.317540,0.142137,-0.021270,0.517637,0.656693,0.085523,0.599366,0.668578,0.359469
ICICI BANK,0.369271,0.796725,0.823148,-0.182310,0.781011,0.906543,-0.118418,0.483052,0.890095,0.960453,...,0.899052,0.415130,0.584247,0.604785,0.737761,0.874841,-0.214866,0.937961,0.863694,0.812430
INDUSIND BANK,0.151923,-0.248190,-0.544814,0.452123,-0.240850,-0.412076,0.362556,-0.161403,-0.470656,-0.601010,...,-0.590877,0.208878,-0.022102,-0.082349,-0.328569,-0.680069,0.593972,-0.616775,-0.384084,-0.519592
INFOSYS,0.220007,0.552933,0.848585,0.146292,0.476171,0.700220,-0.095493,0.589311,0.569439,0.740087,...,0.814061,0.475798,0.389693,0.091898,0.852588,0.912509,0.090918,0.807160,0.789343,0.814112
ITC,-0.057532,0.326418,0.558949,0.482199,0.464177,0.537793,0.311246,0.700914,0.475905,0.634889,...,0.578375,0.251665,0.168144,-0.004326,0.570412,0.764327,0.043674,0.688358,0.674676,0.414253
JSW STEEL,0.369505,0.710432,0.751772,-0.015702,0.769739,0.861068,0.075765,0.589422,0.847048,0.914024,...,0.808591,0.301036,0.450031,0.618545,0.620697,0.842907,-0.156883,0.909230,0.853074,0.710043
KOTAK MAHINDRA BANK,0.031577,0.025128,0.187866,0.604640,0.238933,0.117576,0.541110,0.523001,0.057985,0.123658,...,0.084986,0.146704,-0.105042,-0.153734,0.169238,0.268776,0.358057,0.167343,0.373668,0.180734
L&T,0.738759,0.791595,0.585857,-0.098687,0.541164,0.658178,-0.052519,0.248849,0.654601,0.569761,...,0.580217,0.659129,0.697724,0.634787,0.619096,0.436572,0.328053,0.493609,0.646321,0.608013
M&M,0.353700,0.782628,0.724763,-0.184462,0.797751,0.885453,-0.097312,0.383233,0.945456,0.946476,...,0.819205,0.372326,0.572533,0.694095,0.641853,0.828059,-0.324856,0.920324,0.861803,0.692379
MARUTI SUZUKI,0.515569,0.773953,0.497063,-0.278262,0.541249,0.774879,-0.180333,0.169085,0.743882,0.691570,...,0.639990,0.543639,0.810127,0.865877,0.518697,0.362113,-0.107011,0.617210,0.525619,0.400880
NESTLE,0.389797,0.206474,-0.033141,0.428850,0.206929,0.141359,0.308099,0.166818,0.003434,-0.075190,...,-0.043089,0.590453,0.353208,0.238115,0.175809,-0.193367,0.604486,-0.080951,0.165217,0.021837
NTPC,0.575546,0.899716,0.863223,-0.100129,0.702975,0.942762,-0.173580,0.466030,0.885023,0.935941,...,0.925576,0.608671,0.734135,0.673166,0.813401,0.820128,-0.034969,0.915636,0.865899,0.794070
ONGC,0.615832,0.913723,0.727950,-0.208177,0.574119,0.804800,-0.378039,0.139651,0.813479,0.745821,...,0.785823,0.783537,0.925335,0.674992,0.834972,0.604633,-0.020192,0.713483,0.731260,0.680666
POWER GRID,0.556878,0.925781,0.774187,-0.238943,0.773635,0.910835,-0.269210,0.271708,0.949277,0.908824,...,0.855498,0.604066,0.787895,0.765353,0.770855,0.756742,-0.188499,0.867026,0.862602,0.757727
RELIANCE IND.,0.797592,0.860786,0.507972,-0.190037,0.545929,0.637590,-0.283015,-0.030644,0.648021,0.483481,...,0.516769,0.849030,0.916178,0.754345,0.648443,0.278337,0.209849,0.415650,0.576893,0.566828
SBI,0.611340,0.906620,0.657453,-0.427204,0.713572,0.811252,-0.375070,0.077064,0.907863,0.797008,...,0.748365,0.530223,0.796564,0.849362,0.657831,0.592034,-0.271418,0.734013,0.718987,0.699830
SBI LIFE INSURANCE,0.246975,0.619909,0.793766,0.276888,0.528456,0.792420,0.054275,0.698274,0.625978,0.779979,...,0.833617,0.560146,0.545286,0.251680,0.843049,0.815985,0.156231,0.842997,0.777961,0.669363
SHRIRAM FINANCE,0.341127,0.749877,0.887365,0.021334,0.686235,0.928268,0.010273,0.627259,0.809511,0.948773,...,0.925999,0.498607,0.569831,0.485713,0.786867,0.907750,-0.027403,0.965911,0.870160,0.791929
SUN PHARMA,0.423120,0.781490,0.935930,-0.176559,0.522348,0.930666,-0.234706,0.524317,0.756308,0.919888,...,1.000000,0.536133,0.644417,0.490746,0.841624,0.859146,-0.011704,0.934370,0.767214,0.841859
TATA CONSUMER,0.711027,0.752940,0.540529,0.071613,0.390578,0.612502,-0.202305,0.147296,0.491841,0.438891,...,0.536133,1.000000,0.844996,0.497953,0.747211,0.314158,0.462021,0.405985,0.546148,0.533539
TATA MOTORS,0.714605,0.887103,0.572771,-0.217475,0.481819,0.716209,-0.367896,0.024466,0.698232,0.582306,...,0.644417,0.844996,1.000000,0.751972,0.743188,0.375315,0.143092,0.533168,0.588422,0.551091
TATA STEEL,0.665086,0.796919,0.385723,-0.346471,0.643295,0.684806,-0.159545,0.012159,0.770822,0.608614,...,0.490746,0.497953,0.751972,1.000000,0.383070,0.283345,-0.120457,0.501593,0.539205,0.410467
TCS,0.496788,0.776895,0.832992,0.004897,0.504207,0.786210,-0.273287,0.402901,0.664863,0.722566,...,0.841624,0.747211,0.743188,0.383070,1.000000,0.764818,0.190555,0.758324,0.771514,0.825267
TECH MAHINDRA,0.177480,0.612594,0.849603,0.002613,0.636385,0.784945,-0.074078,0.558976,0.748980,0.886325,...,0.859146,0.314158,0.375315,0.283345,0.764818,1.000000,-0.161575,0.923732,0.852304,0.823570
TITAN,0.338157,0.017737,0.090292,0.447292,-0.196512,0.026973,0.285924,0.331152,-0.300264,-0.183942,...,-0.011704,0.462021,0.143092,-0.120457,0.190555,-0.161575,1.000000,-0.159121,-0.044358,0.028495
TRENT,0.297536,0.728790,0.856752,-0.047731,0.679069,0.926043,-0.068482,0.581120,0.834698,0.971866,...,0.934370,0.405985,0.533168,0.501593,0.758324,0.923732,-0.159121,1.000000,0.839368,0.775075
ULTRATECH CEMENT,0.451498,0.799832,0.766558,0.096789,0.833982,0.814367,0.019899,0.452398,0.870540,0.844837,...,0.767214,0.546148,0.588422,0.539205,0.771514,0.852304,-0.044358,0.839368,1.000000,0.790536
WIPRO,0.495280,0.739695,0.883375,-0.206968,0.591470,0.769464,-0.275541,0.367743,0.692244,0.761676,...,0.841859,0.533539,0.551091,0.410467,0.825267,0.823570,0.028495,0.775075,0.790536,1.000000

In [61]:
def correlation_matrix_df(correlation_matrix):
    correlations = []
    
    for row in correlation_matrix.index:
        for col in correlation_matrix.columns:
            if row !=col:
                correlations.append({'stock_1':row, 'stock_2':col, 'correlation':correlation_matrix.loc[row, col] })
                correlation_df = pd.DataFrame(correlations)
    return correlation_df

In [62]:
correlation_df = correlation_matrix_df(correlation_matrix)

In [63]:
correlation_df

                stock_1            stock_2  correlation
0     ADANI ENTERPRISES  ADANI PORTS & SEZ     0.791319
1     ADANI ENTERPRISES   APOLLO HOSPITALS     0.446468
2     ADANI ENTERPRISES       ASIAN PAINTS    -0.155700
3     ADANI ENTERPRISES          AXIS BANK     0.403995
4     ADANI ENTERPRISES         BAJAJ AUTO     0.520872
...                 ...                ...          ...
2445              WIPRO                TCS     0.825267
2446              WIPRO      TECH MAHINDRA     0.823570
2447              WIPRO              TITAN     0.028495
2448              WIPRO              TRENT     0.775075
2449              WIPRO   ULTRATECH CEMENT     0.790536

[2450 rows x 3 columns]

In [64]:
correlation_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2450 entries, 0 to 2449
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   stock_1      2450 non-null   object
 1   stock_2      2450 non-null   object
 2   correlation  2450 non-null   float64
dtypes: float64(1), object(2)
memory usage: 57.6+ KB

In [65]:
def top_correlation(correlation_df, top_corr = 10):
    correlation_df= correlation_df[correlation_df['correlation'] >0 ]
    sorted_correlation_df = correlation_df.sort_values(by = 'correlation', ascending= False)
    sorted_correlation_df = sorted_correlation_df.drop_duplicates(subset = ['correlation'])
    return sorted_correlation_df.head(top_corr)

In [66]:
top_10_correlation = top_correlation(correlation_df, top_corr = 10).reset_index(drop = True)

In [67]:
top_10_correlation

              stock_1             stock_2  correlation
0       BHARTI AIRTEL               TRENT     0.971866
1               TRENT     SHRIRAM FINANCE     0.965911
2          ICICI BANK       BHARTI AIRTEL     0.960453
3                ONGC          COAL INDIA     0.951778
4  BHARAT ELECTRONICS          POWER GRID     0.949277
5     SHRIRAM FINANCE       BHARTI AIRTEL     0.948773
6              GRASIM          ICICI BANK     0.947386
7                 M&M       BHARTI AIRTEL     0.946476
8          BAJAJ AUTO       BHARTI AIRTEL     0.945599
9                 M&M  BHARAT ELECTRONICS     0.945456

In [68]:
top_10_correlation.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   stock_1      10 non-null     object
 1   stock_2      10 non-null     object
 2   correlation  10 non-null     float64
dtypes: float64(1), object(2)
memory usage: 372.0+ bytes

In [69]:
combined_stock_csv

,Ticker,close,date,high,low,month,open,volume,year,daily_return,company,sector,yearly_return
0,ADANIENT,2217.30,2023-11-01 05:30:00,2312.25,2207.00,2023-11,2299.00,1666579,2023,0.000000,ADANI ENTERPRISES,MISCELLANEOUS,0.482569
1,ADANIENT,2215.30,2023-11-02 05:30:00,2297.95,2204.20,2023-11,2247.00,2340997,2023,-0.000902,ADANI ENTERPRISES,MISCELLANEOUS,0.482569
2,ADANIENT,2229.85,2023-11-03 05:30:00,2279.00,2215.00,2023-11,2215.30,1853300,2023,0.006568,ADANI ENTERPRISES,MISCELLANEOUS,0.482569
3,ADANIENT,2246.00,2023-11-06 05:30:00,2260.00,2233.00,2023-11,2253.95,770061,2023,0.007243,ADANI ENTERPRISES,MISCELLANEOUS,0.482569
4,ADANIENT,2233.35,2023-11-07 05:30:00,2260.00,2226.65,2023-11,2257.00,641554,2023,-0.005632,ADANI ENTERPRISES,MISCELLANEOUS,0.482569
...,...,...,...,...,...,...,...,...,...,...,...,...,...
13195,WIPRO,566.70,2024-11-14 05:30:00,574.55,564.20,2024-11,568.95,4891760,2024,-0.004042,WIPRO,SOFTWARE,50.059063
13196,WIPRO,552.85,2024-11-18 05:30:00,566.70,540.30,2024-11,566.70,7644882,2024,-0.024440,WIPRO,SOFTWARE,50.059063
13197,WIPRO,562.00,2024-11-19 05:30:00,569.80,554.70,2024-11,556.00,6459889,2024,0.016551,WIPRO,SOFTWARE,50.059063
13198,WIPRO,557.15,2024-11-21 05:30:00,567.60,555.30,2024-11,562.00,5836304,2024,-0.008630,WIPRO,SOFTWARE,50.059063
13199,WIPRO,571.65,2024-11-22 05:30:00,573.60,557.90,2024-11,561.95,7366616,2024,0.026025,WIPRO,SOFTWARE,50.059063

##### Top 5 Gainers and Losers (Month-wise)

In [70]:
#calculate monthly_returns
monthly_returns = combined_stock_csv.groupby(['Ticker', 'month']).agg(
    monthly_return = ('close', lambda x: ((x.iloc[-1] - x.iloc[0]) / x.iloc[0] * 100)
)).reset_index()

In [71]:
monthly_returns

       Ticker    month  monthly_return
0    ADANIENT  2023-11        6.370360
1    ADANIENT  2023-12       20.580268
2    ADANIENT  2024-01        7.706019
3    ADANIENT  2024-02        4.182654
4    ADANIENT  2024-03       -3.665537
..        ...      ...             ...
645     WIPRO  2024-07       -1.014506
646     WIPRO  2024-08        3.230754
647     WIPRO  2024-09        1.690300
648     WIPRO  2024-10        0.923640
649     WIPRO  2024-11        3.681872

[650 rows x 3 columns]

In [72]:
#merge_monthly_return
combined_stock_csv = pd.merge(combined_stock_csv, monthly_returns, on= (['Ticker', 'month']), how = 'left')

In [73]:
combined_stock_csv

,Ticker,close,date,high,low,month,open,volume,year,daily_return,company,sector,yearly_return,monthly_return
0,ADANIENT,2217.30,2023-11-01 05:30:00,2312.25,2207.00,2023-11,2299.00,1666579,2023,0.000000,ADANI ENTERPRISES,MISCELLANEOUS,0.482569,6.370360
1,ADANIENT,2215.30,2023-11-02 05:30:00,2297.95,2204.20,2023-11,2247.00,2340997,2023,-0.000902,ADANI ENTERPRISES,MISCELLANEOUS,0.482569,6.370360
2,ADANIENT,2229.85,2023-11-03 05:30:00,2279.00,2215.00,2023-11,2215.30,1853300,2023,0.006568,ADANI ENTERPRISES,MISCELLANEOUS,0.482569,6.370360
3,ADANIENT,2246.00,2023-11-06 05:30:00,2260.00,2233.00,2023-11,2253.95,770061,2023,0.007243,ADANI ENTERPRISES,MISCELLANEOUS,0.482569,6.370360
4,ADANIENT,2233.35,2023-11-07 05:30:00,2260.00,2226.65,2023-11,2257.00,641554,2023,-0.005632,ADANI ENTERPRISES,MISCELLANEOUS,0.482569,6.370360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13195,WIPRO,566.70,2024-11-14 05:30:00,574.55,564.20,2024-11,568.95,4891760,2024,-0.004042,WIPRO,SOFTWARE,50.059063,3.681872
13196,WIPRO,552.85,2024-11-18 05:30:00,566.70,540.30,2024-11,566.70,7644882,2024,-0.024440,WIPRO,SOFTWARE,50.059063,3.681872
13197,WIPRO,562.00,2024-11-19 05:30:00,569.80,554.70,2024-11,556.00,6459889,2024,0.016551,WIPRO,SOFTWARE,50.059063,3.681872
13198,WIPRO,557.15,2024-11-21 05:30:00,567.60,555.30,2024-11,562.00,5836304,2024,-0.008630,WIPRO,SOFTWARE,50.059063,3.681872
13199,WIPRO,571.65,2024-11-22 05:30:00,573.60,557.90,2024-11,561.95,7366616,2024,0.026025,WIPRO,SOFTWARE,50.059063,3.681872

In [74]:
monthly_returns

       Ticker    month  monthly_return
0    ADANIENT  2023-11        6.370360
1    ADANIENT  2023-12       20.580268
2    ADANIENT  2024-01        7.706019
3    ADANIENT  2024-02        4.182654
4    ADANIENT  2024-03       -3.665537
..        ...      ...             ...
645     WIPRO  2024-07       -1.014506
646     WIPRO  2024-08        3.230754
647     WIPRO  2024-09        1.690300
648     WIPRO  2024-10        0.923640
649     WIPRO  2024-11        3.681872

[650 rows x 3 columns]

In [75]:
monthly_returns_df = pd.DataFrame(monthly_returns)

In [76]:
unique_months = monthly_returns_df['month'].unique()

In [77]:
unique_months

<PeriodArray>
['2023-11', '2023-12', '2024-01', '2024-02', '2024-03', '2024-04', '2024-05',
 '2024-06', '2024-07', '2024-08', '2024-09', '2024-10', '2024-11']
Length: 13, dtype: period[M]

In [78]:
monthly_returns_df

       Ticker    month  monthly_return
0    ADANIENT  2023-11        6.370360
1    ADANIENT  2023-12       20.580268
2    ADANIENT  2024-01        7.706019
3    ADANIENT  2024-02        4.182654
4    ADANIENT  2024-03       -3.665537
..        ...      ...             ...
645     WIPRO  2024-07       -1.014506
646     WIPRO  2024-08        3.230754
647     WIPRO  2024-09        1.690300
648     WIPRO  2024-10        0.923640
649     WIPRO  2024-11        3.681872

[650 rows x 3 columns]

In [79]:
# calculate monthly gainers
sorted_monthly_gainer_df = monthly_returns_df.sort_values(by= 'monthly_return', ascending= False).reset_index(drop=True)

In [80]:
sorted_monthly_gainer_df

         Ticker    month  monthly_return
0         TRENT  2023-11       26.817282
1           BEL  2024-05       26.070288
2         TRENT  2024-02       25.106356
3           BEL  2023-12       24.923703
4         TRENT  2024-08       24.051258
..          ...      ...             ...
645   NESTLEIND  2024-10      -16.405312
646  ADANIPORTS  2024-11      -18.477481
647  BAJAJ-AUTO  2024-10      -19.092408
648    ADANIENT  2024-11      -24.461773
649  INDUSINDBK  2024-10      -25.118820

[650 rows x 3 columns]

In [81]:
###
sorted_monthly_gainer_df [sorted_monthly_gainer_df ['month'] == '2023-11'].head(5)

        Ticker    month  monthly_return
0        TRENT  2023-11       26.817282
6   HEROMOTOCO  2023-11       23.495934
9         BPCL  2023-11       22.079014
15   EICHERMOT  2023-11       18.726483
30  APOLLOHOSP  2023-11       15.269308

#### Each month wise top_gainers

In [82]:
monthly_top_5_gainers = {}

unique_months = sorted_monthly_gainer_df ['month'].unique()
for month in unique_months:
    top_5_gainers = sorted_monthly_gainer_df [sorted_monthly_gainer_df ['month']== month].head(5).reset_index(drop = True)
    monthly_top_5_gainers[str(month)] = top_5_gainers
print(monthly_top_5_gainers['2023-11'])

       Ticker    month  monthly_return
0       TRENT  2023-11       26.817282
1  HEROMOTOCO  2023-11       23.495934
2        BPCL  2023-11       22.079014
3   EICHERMOT  2023-11       18.726483
4  APOLLOHOSP  2023-11       15.269308

In [83]:
print(monthly_top_5_gainers['2023-12'])

       Ticker    month  monthly_return
0         BEL  2023-12       24.923703
1  ADANIPORTS  2023-12       23.743658
2    ADANIENT  2023-12       20.580268
3    HINDALCO  2023-12       18.880510
4  ULTRACEMCO  2023-12       16.262723

In [84]:
print(monthly_top_5_gainers['2024-01'])

       Ticker    month  monthly_return
0        ONGC  2024-01       22.839055
1  SHRIRAMFIN  2024-01       20.399248
2  BHARTIARTL  2024-01       15.561917
3  ADANIPORTS  2024-01       15.250274
4  BAJAJ-AUTO  2024-01       14.422259

In [85]:
print(monthly_top_5_gainers['2024-02'])

      Ticker    month  monthly_return
0      TRENT  2024-02       25.106356
1       BPCL  2024-02       18.762538
2        M&M  2024-02       17.033583
3       SBIN  2024-02       15.509920
4  SUNPHARMA  2024-02       12.074292

In [86]:
print(monthly_top_5_gainers['2024-03'])

       Ticker    month  monthly_return
0  BAJAJ-AUTO  2024-03       13.782253
1  BAJFINANCE  2024-03       10.253445
2  BHARTIARTL  2024-03        8.850890
3      MARUTI  2024-03        8.427882
4    HINDALCO  2024-03        7.927182

In [87]:
print(monthly_top_5_gainers['2024-04'])

      Ticker    month  monthly_return
0  EICHERMOT  2024-04       16.488668
1      TRENT  2024-04       13.458372
2   HINDALCO  2024-04       13.330988
3        M&M  2024-04       12.547300
4        BEL  2024-04       10.729512

In [88]:
print(monthly_top_5_gainers['2024-05'])

       Ticker    month  monthly_return
0         BEL  2024-05       26.070288
1         M&M  2024-05       14.694643
2  HEROMOTOCO  2024-05       12.235010
3    ADANIENT  2024-05       12.230228
4   BRITANNIA  2024-05        8.827330

In [89]:
print(monthly_top_5_gainers['2024-06'])

       Ticker    month  monthly_return
0       TRENT  2024-06       17.537858
1  SHRIRAMFIN  2024-06       16.035311
2       WIPRO  2024-06       15.931097
3       TECHM  2024-06       14.855262
4      GRASIM  2024-06       12.734296

In [90]:
print(monthly_top_5_gainers['2024-07'])

     Ticker    month  monthly_return
0      ONGC  2024-07       22.440007
1  HDFCLIFE  2024-07       19.101124
2      INFY  2024-07       17.440910
3   SBILIFE  2024-07       16.765989
4       ITC  2024-07       15.452744

In [91]:
print(monthly_top_5_gainers['2024-08'])

       Ticker    month  monthly_return
0       TRENT  2024-08       24.051258
1  BAJAJ-AUTO  2024-08       11.932069
2  BAJAJFINSV  2024-08        9.068388
3  SHRIRAMFIN  2024-08        7.200803
4       CIPLA  2024-08        7.030138

In [92]:
print(monthly_top_5_gainers['2024-09'])

       Ticker    month  monthly_return
0         M&M  2024-09       11.447605
1  BAJAJ-AUTO  2024-09       10.963860
2  SHRIRAMFIN  2024-09       10.904581
3    HINDALCO  2024-09       10.571721
4   TATASTEEL  2024-09       10.249869

In [93]:
print(monthly_top_5_gainers['2024-10'])

      Ticker    month  monthly_return
0       SBIN  2024-10        2.917372
1   HDFCLIFE  2024-10        1.401014
2  ICICIBANK  2024-10        1.400659
3      WIPRO  2024-10        0.923640
4   HDFCBANK  2024-10        0.550342

In [94]:
print(monthly_top_5_gainers['2024-11'])

    Ticker    month  monthly_return
0    TECHM  2024-11        8.967044
1     INFY  2024-11        8.030213
2  HCLTECH  2024-11        8.023216
3      M&M  2024-11        6.931308
4      TCS  2024-11        6.535816

#### Each month wise top_losers

In [95]:
# calculate monthly gainers
sorted_monthly_losers_df = monthly_returns_df.sort_values(by= 'monthly_return', ascending= True).reset_index(drop=True)

In [96]:
sorted_monthly_losers_df

         Ticker    month  monthly_return
0    INDUSINDBK  2024-10      -25.118820
1      ADANIENT  2024-11      -24.461773
2    BAJAJ-AUTO  2024-10      -19.092408
3    ADANIPORTS  2024-11      -18.477481
4     NESTLEIND  2024-10      -16.405312
..          ...      ...             ...
645       TRENT  2024-08       24.051258
646         BEL  2023-12       24.923703
647       TRENT  2024-02       25.106356
648         BEL  2024-05       26.070288
649       TRENT  2023-11       26.817282

[650 rows x 3 columns]

In [97]:
monthly_top_5_losers = {}

unique_months = sorted_monthly_losers_df['month'].unique()
for month in unique_months:
    top_5_losers = sorted_monthly_losers_df[sorted_monthly_losers_df['month']== month].head(5).reset_index(drop = True)
    
    monthly_top_5_losers[str(month)] = top_5_losers
print(monthly_top_5_losers['2023-11'])

       Ticker    month  monthly_return
0  BAJFINANCE  2023-11       -4.684217
1        SBIN  2023-11       -0.291314
2       CIPLA  2023-11        0.919875
3   NESTLEIND  2023-11        1.522241
4         ITC  2023-11        1.798645

In [98]:
print(monthly_top_5_losers['2023-12'])

       Ticker    month  monthly_return
0    HDFCLIFE  2023-12       -5.196804
1      MARUTI  2023-12       -2.677197
2    AXISBANK  2023-12       -0.212737
3  BAJAJFINSV  2023-12       -0.008897
4     SBILIFE  2023-12        0.628666

In [99]:
print(monthly_top_5_losers['2024-01'])

       Ticker    month  monthly_return
0    HDFCBANK  2024-01      -13.871386
1  ASIANPAINT  2024-01      -12.904508
2    HDFCLIFE  2024-01      -11.114537
3   NESTLEIND  2024-01       -8.447926
4    JSWSTEEL  2024-01       -6.717183

In [100]:
print(monthly_top_5_losers['2024-02'])

       Ticker    month  monthly_return
0    HINDALCO  2024-02      -11.798687
1         ITC  2024-02       -8.263716
2   KOTAKBANK  2024-02       -7.313126
3  INDUSINDBK  2024-02       -4.298738
4    HDFCBANK  2024-02       -4.292972

In [101]:
print(monthly_top_5_losers['2024-03'])

       Ticker    month  monthly_return
0        INFY  2024-03       -9.466973
1  TATACONSUM  2024-03       -8.726586
2       WIPRO  2024-03       -7.513003
3     HCLTECH  2024-03       -6.115808
4  HINDUNILVR  2024-03       -6.031871

In [102]:
print(monthly_top_5_losers['2024-04'])

       Ticker    month  monthly_return
0     HCLTECH  2024-04      -12.211730
1   KOTAKBANK  2024-04       -9.312001
2    HDFCLIFE  2024-04       -8.050414
3  APOLLOHOSP  2024-04       -7.900422
4   SUNPHARMA  2024-04       -7.804204

In [103]:
print(monthly_top_5_losers['2024-05'])

       Ticker    month  monthly_return
0  TATAMOTORS  2024-05      -10.196536
1       TITAN  2024-05       -9.151032
2  SHRIRAMFIN  2024-05       -8.831958
3     DRREDDY  2024-05       -7.883101
4        ONGC  2024-05       -6.524045

In [104]:
print(monthly_top_5_losers['2024-06'])

       Ticker    month  monthly_return
0    ADANIENT  2024-06      -12.841369
1          LT  2024-06       -8.947564
2        BPCL  2024-06       -8.745647
3   COALINDIA  2024-06       -7.651020
4  ADANIPORTS  2024-06       -6.682660

In [105]:
print(monthly_top_5_losers['2024-07'])

       Ticker    month  monthly_return
0    AXISBANK  2024-07       -7.591727
1  BAJFINANCE  2024-07       -6.456179
2    HDFCBANK  2024-07       -5.245719
3   TATASTEEL  2024-07       -5.020969
4   NESTLEIND  2024-07       -4.351466

In [106]:
print(monthly_top_5_losers['2024-08'])

       Ticker    month  monthly_return
0      MARUTI  2024-08       -7.156572
1  ADANIPORTS  2024-08       -6.807534
2   POWERGRID  2024-08       -6.563279
3   TATASTEEL  2024-08       -6.316693
4    ADANIENT  2024-08       -6.151216

In [107]:
print(monthly_top_5_losers['2024-09'])

       Ticker    month  monthly_return
0  TATAMOTORS  2024-09      -10.799433
1        ONGC  2024-09       -8.767627
2         TCS  2024-09       -5.586092
3        INFY  2024-09       -4.525325
4       TECHM  2024-09       -4.217654

In [108]:
print(monthly_top_5_losers['2024-10'])

       Ticker    month  monthly_return
0  INDUSINDBK  2024-10      -25.118820
1  BAJAJ-AUTO  2024-10      -19.092408
2   NESTLEIND  2024-10      -16.405312
3  TATACONSUM  2024-10      -16.192268
4      MARUTI  2024-10      -15.870804

In [109]:
print(monthly_top_5_losers['2024-11'])

       Ticker    month  monthly_return
0    ADANIENT  2024-11      -24.461773
1  ADANIPORTS  2024-11      -18.477481
2  ASIANPAINT  2024-11      -15.907274
3   BRITANNIA  2024-11      -14.837389
4        NTPC  2024-11      -11.158381

In [110]:
combined_stock_csv

,Ticker,close,date,high,low,month,open,volume,year,daily_return,company,sector,yearly_return,monthly_return
0,ADANIENT,2217.30,2023-11-01 05:30:00,2312.25,2207.00,2023-11,2299.00,1666579,2023,0.000000,ADANI ENTERPRISES,MISCELLANEOUS,0.482569,6.370360
1,ADANIENT,2215.30,2023-11-02 05:30:00,2297.95,2204.20,2023-11,2247.00,2340997,2023,-0.000902,ADANI ENTERPRISES,MISCELLANEOUS,0.482569,6.370360
2,ADANIENT,2229.85,2023-11-03 05:30:00,2279.00,2215.00,2023-11,2215.30,1853300,2023,0.006568,ADANI ENTERPRISES,MISCELLANEOUS,0.482569,6.370360
3,ADANIENT,2246.00,2023-11-06 05:30:00,2260.00,2233.00,2023-11,2253.95,770061,2023,0.007243,ADANI ENTERPRISES,MISCELLANEOUS,0.482569,6.370360
4,ADANIENT,2233.35,2023-11-07 05:30:00,2260.00,2226.65,2023-11,2257.00,641554,2023,-0.005632,ADANI ENTERPRISES,MISCELLANEOUS,0.482569,6.370360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13195,WIPRO,566.70,2024-11-14 05:30:00,574.55,564.20,2024-11,568.95,4891760,2024,-0.004042,WIPRO,SOFTWARE,50.059063,3.681872
13196,WIPRO,552.85,2024-11-18 05:30:00,566.70,540.30,2024-11,566.70,7644882,2024,-0.024440,WIPRO,SOFTWARE,50.059063,3.681872
13197,WIPRO,562.00,2024-11-19 05:30:00,569.80,554.70,2024-11,556.00,6459889,2024,0.016551,WIPRO,SOFTWARE,50.059063,3.681872
13198,WIPRO,557.15,2024-11-21 05:30:00,567.60,555.30,2024-11,562.00,5836304,2024,-0.008630,WIPRO,SOFTWARE,50.059063,3.681872
13199,WIPRO,571.65,2024-11-22 05:30:00,573.60,557.90,2024-11,561.95,7366616,2024,0.026025,WIPRO,SOFTWARE,50.059063,3.681872

In [111]:
Top_10_green_stocks.to_csv('Top_10_green_stocks', index = False)

In [112]:
Top_10_red_stocks.to_csv('Top_10_red_stocks', index= False)

In [113]:
top_10_volatility.to_csv('volatility analysis', index= False)

In [114]:
top_5_cumulative_return.to_csv('cumulative return', index=False)

In [115]:
sector_performance.to_csv('sector_performance', index = False)

In [116]:
top_10_correlation.to_csv('top_10_correlation', index = False)

In [117]:
sorted_monthly_gainer_df.to_csv('top_gainers', index=False)

In [119]:
sorted_monthly_losers_df.to_csv('top_losers', index=False)

In [120]:
# create a market summary data to dict
market_summary_data = {
    'Metric':['Number of Green Stocks', 'Number of Red Stocks','Average price of all stocks', 'Average volume of all stocks'],
    'Value': [45, 5, 2481.5897325757574, 6997734.984318182 ]
}
#create dataframe
market_summary_df = pd.DataFrame(market_summary_data)

#create a csv file
market_summary_df.to_csv('market_summary_csv', index= False)

In [121]:
market_summary_df.values.tolist()

[['Number of Green Stocks', 45.0],
 ['Number of Red Stocks', 5.0],
 ['Average price of all stocks', 2481.5897325757574],
 ['Average volume of all stocks', 6997734.984318182]]

#### SQL

In [118]:
! pip install pymysql

Requirement already satisfied: pymysql in c:\users\admin\appdata\local\programs\python\python313\lib\site-packages (1.1.1)

[notice] A new release of pip is available: 24.3.1 -> 25.0.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [127]:
#connect sql
import pymysql
import pandas as pd

db_connection = pymysql.connect(
    host = "localhost",
    database = 'stock_analysis',
    user = 'mat2',
    password ='0701'
)

In [128]:
curr = db_connection.cursor()

In [78]:
combined_stock_csv.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13200 entries, 0 to 13199
Data columns (total 14 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   Ticker          13200 non-null  object
 1   close           13200 non-null  float64
 2   date            13200 non-null  datetime64[ns]
 3   high            13200 non-null  float64
 4   low             13200 non-null  float64
 5   month           13200 non-null  period[M]
 6   open            13200 non-null  float64
 7   volume          13200 non-null  int64
 8   year            13200 non-null  int32
 9   daily_return    13200 non-null  float64
 10  company         13200 non-null  object
 11  sector          13200 non-null  object
 12  yearly_return   13200 non-null  float64
 13  monthly_return  13200 non-null  float64
dtypes: datetime64[ns](1), float64(7), int32(1), int64(1), object(3), period[M](1)
memory usage: 1.4+ MB

In [ ]:
#create the table
create_table_query = """
CREATE TABLE IF NOT EXISTS stock_analysis(
    id INT AUTO_INCREMENT PRIMARY KEY,
    Ticker VARCHAR(250),
    close FLOAT,
    date DATE,
    high FLOAT,
    low FLOAT,
    month VARCHAR(7),
    open FLOAT,
    volume BIGINT,
    year SMALLINT,
    daily_return FLOAT,
    company VARCHAR(250),
    sector VARCHAR(250),
    yearly_return FLOAT,
    monthly_return FLOAT
)"""
curr.execute(create_table_query)
db_connection.commit()

In [126]:
#insert the table into the query
insert_query = """
INSERT INTO stock_analysis(Ticker, close, date, high, low, month, open, volume, year, daily_return, company, sector, yearly_return, monthly_return) VALUES(%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)"""

In [127]:
df = combined_stock_csv

In [128]:
df

,Ticker,close,date,high,low,month,open,volume,year,daily_return,company,sector,yearly_return,monthly_return
0,ADANIENT,2217.30,2023-11-01 05:30:00,2312.25,2207.00,2023-11,2299.00,1666579,2023,0.000000,ADANI ENTERPRISES,MISCELLANEOUS,0.482569,6.370360
1,ADANIENT,2215.30,2023-11-02 05:30:00,2297.95,2204.20,2023-11,2247.00,2340997,2023,-0.000902,ADANI ENTERPRISES,MISCELLANEOUS,0.482569,6.370360
2,ADANIENT,2229.85,2023-11-03 05:30:00,2279.00,2215.00,2023-11,2215.30,1853300,2023,0.006568,ADANI ENTERPRISES,MISCELLANEOUS,0.482569,6.370360
3,ADANIENT,2246.00,2023-11-06 05:30:00,2260.00,2233.00,2023-11,2253.95,770061,2023,0.007243,ADANI ENTERPRISES,MISCELLANEOUS,0.482569,6.370360
4,ADANIENT,2233.35,2023-11-07 05:30:00,2260.00,2226.65,2023-11,2257.00,641554,2023,-0.005632,ADANI ENTERPRISES,MISCELLANEOUS,0.482569,6.370360
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13195,WIPRO,566.70,2024-11-14 05:30:00,574.55,564.20,2024-11,568.95,4891760,2024,-0.004042,WIPRO,SOFTWARE,50.059063,3.681872
13196,WIPRO,552.85,2024-11-18 05:30:00,566.70,540.30,2024-11,566.70,7644882,2024,-0.024440,WIPRO,SOFTWARE,50.059063,3.681872
13197,WIPRO,562.00,2024-11-19 05:30:00,569.80,554.70,2024-11,556.00,6459889,2024,0.016551,WIPRO,SOFTWARE,50.059063,3.681872
13198,WIPRO,557.15,2024-11-21 05:30:00,567.60,555.30,2024-11,562.00,5836304,2024,-0.008630,WIPRO,SOFTWARE,50.059063,3.681872
13199,WIPRO,571.65,2024-11-22 05:30:00,573.60,557.90,2024-11,561.95,7366616,2024,0.026025,WIPRO,SOFTWARE,50.059063,3.681872

In [129]:
# Iterate over the DataFrame and insert each row
for index, row in df.iterrows():
    curr.execute(insert_query, (row['Ticker'],
                                row['close'],
                                row['date'],
                                row['high'],
                                row['low'], 
                                row['month'],
                                row['open'],
                                row['volume'],
                                row['year'],
                                row['daily_return'],
                                row['company'],
                                row['sector'],
                                row['yearly_return'],
                                row['monthly_return']))
    

db_connection.commit()

In [131]:
# Run a SELECT query to fetch all rows
select_query = "SELECT * FROM stock_analysis"
curr.execute(select_query)

# Fetch all rows from the result of the query
rows = curr.fetchall()

db_connection.commit()

In [133]:
rows

((1,
  'ADANIENT',
  2217.3,
  datetime.date(2023, 11, 1),
  2312.25,
  2207.0,
  '2023-11',
  2299.0,
  1666579,
  2023,
  0.0,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  6.37036),
 (2,
  'ADANIENT',
  2215.3,
  datetime.date(2023, 11, 2),
  2297.95,
  2204.2,
  '2023-11',
  2247.0,
  2340997,
  2023,
  -0.000901998,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  6.37036),
 (3,
  'ADANIENT',
  2229.85,
  datetime.date(2023, 11, 3),
  2279.0,
  2215.0,
  '2023-11',
  2215.3,
  1853300,
  2023,
  0.00656796,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  6.37036),
 (4,
  'ADANIENT',
  2246.0,
  datetime.date(2023, 11, 6),
  2260.0,
  2233.0,
  '2023-11',
  2253.95,
  770061,
  2023,
  0.00724264,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  6.37036),
 (5,
  'ADANIENT',
  2233.35,
  datetime.date(2023, 11, 7),
  2260.0,
  2226.65,
  '2023-11',
  2257.0,
  641554,
  2023,
  -0.00563224,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  6.37036),
 (6,
  'ADANIENT',
  2259.95,
  datetime.date(2023, 11, 8),
  2298.0,
  2235.0,
  '2023-11',
  2245.3,
  1169180,
  2023,
  0.0119104,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  6.37036),
 (7,
  'ADANIENT',
  2214.65,
  datetime.date(2023, 11, 9),
  2272.6,
  2210.1,
  '2023-11',
  2269.0,
  1267890,
  2023,
  -0.0200447,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  6.37036),
 (8,
  'ADANIENT',
  2205.1,
  datetime.date(2023, 11, 10),
  2237.0,
  2198.5,
  '2023-11',
  2220.25,
  1072597,
  2023,
  -0.00431219,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  6.37036),
 (9,
  'ADANIENT',
  2211.35,
  datetime.date(2023, 11, 12),
  2226.0,
  2205.1,
  '2023-11',
  2219.7,
  148320,
  2023,
  0.00283434,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  6.37036),
 (10,
  'ADANIENT',
  2213.65,
  datetime.date(2023, 11, 13),
  2241.9,
  2195.55,
  '2023-11',
  2215.5,
  853633,
  2023,
  0.00104009,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  6.37036),
 (11,
  'ADANIENT',
  2225.4,
  datetime.date(2023, 11, 15),
  2250.0,
  2220.5,
  '2023-11',
  2240.0,
  696475,
  2023,
  0.00530798,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  6.37036),
 (12,
  'ADANIENT',
  2205.9,
  datetime.date(2023, 11, 16),
  2232.8,
  2196.1,
  '2023-11',
  2226.0,
  1307584,
  2023,
  -0.00876247,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  6.37036),
 (13,
  'ADANIENT',
  2208.8,
  datetime.date(2023, 11, 17),
  2237.95,
  2201.0,
  '2023-11',
  2205.9,
  916518,
  2023,
  0.00131466,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  6.37036),
 (14,
  'ADANIENT',
  2149.85,
  datetime.date(2023, 11, 20),
  2218.5,
  2142.0,
  '2023-11',
  2211.0,
  1577213,
  2023,
  -0.0266887,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  6.37036),
 (15,
  'ADANIENT',
  2196.65,
  datetime.date(2023, 11, 21),
  2232.55,
  2158.35,
  '2023-11',
  2160.0,
  1839502,
  2023,
  0.021769,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  6.37036),
 (16,
  'ADANIENT',
  2172.65,
  datetime.date(2023, 11, 22),
  2225.0,
  2153.5,
  '2023-11',
  2205.15,
  1247205,
  2023,
  -0.0109257,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  6.37036),
 (17,
  'ADANIENT',
  2175.25,
  datetime.date(2023, 11, 23),
  2190.0,
  2160.6,
  '2023-11',
  2190.0,
  729114,
  2023,
  0.0011967,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  6.37036),
 (18,
  'ADANIENT',
  2225.45,
  datetime.date(2023, 11, 24),
  2251.95,
  2160.9,
  '2023-11',
  2179.0,
  1946259,
  2023,
  0.0230778,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  6.37036),
 (19,
  'ADANIENT',
  2423.5,
  datetime.date(2023, 11, 28),
  2512.4,
  2275.0,
  '2023-11',
  2301.0,
  11972275,
  2023,
  0.0889932,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  6.37036),
 (20,
  'ADANIENT',
  2396.6,
  datetime.date(2023, 11, 29),
  2477.65,
  2390.0,
  '2023-11',
  2468.7,
  4561574,
  2023,
  -0.0110996,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  6.37036),
 (21,
  'ADANIENT',
  2358.55,
  datetime.date(2023, 11, 30),
  2409.0,
  2343.05,
  '2023-11',
  2400.05,
  2983879,
  2023,
  -0.0158767,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  6.37036),
 (22,
  'ADANIENT',
  2362.7,
  datetime.date(2023, 12, 1),
  2403.35,
  2354.1,
  '2023-12',
  2370.0,
  1792983,
  2023,
  0.00175956,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  20.5803),
 (23,
  'ADANIENT',
  2531.2,
  datetime.date(2023, 12, 4),
  2595.0,
  2487.45,
  '2023-12',
  2549.95,
  5681516,
  2023,
  0.0713167,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  20.5803),
 (24,
  'ADANIENT',
  2959.35,
  datetime.date(2023, 12, 5),
  2999.9,
  2531.2,
  '2023-12',
  2531.2,
  22879079,
  2023,
  0.169149,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  20.5803),
 (25,
  'ADANIENT',
  2883.95,
  datetime.date(2023, 12, 6),
  3154.55,
  2844.85,
  '2023-12',
  3080.0,
  19355777,
  2023,
  -0.0254786,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  20.5803),
 (26,
  'ADANIENT',
  2887.15,
  datetime.date(2023, 12, 7),
  2945.9,
  2853.05,
  '2023-12',
  2900.0,
  6325887,
  2023,
  0.00110959,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  20.5803),
 (27,
  'ADANIENT',
  2822.15,
  datetime.date(2023, 12, 8),
  2927.0,
  2760.0,
  '2023-12',
  2902.7,
  6959428,
  2023,
  -0.0225136,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  20.5803),
 (28,
  'ADANIENT',
  2855.8,
  datetime.date(2023, 12, 11),
  2919.9,
  2811.05,
  '2023-12',
  2837.05,
  5064123,
  2023,
  0.0119235,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  20.5803),
 (29,
  'ADANIENT',
  2857.65,
  datetime.date(2023, 12, 12),
  2895.95,
  2840.55,
  '2023-12',
  2869.1,
  2017772,
  2023,
  0.000647804,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  20.5803),
 (30,
  'ADANIENT',
  2875.05,
  datetime.date(2023, 12, 13),
  2899.1,
  2805.0,
  '2023-12',
  2860.0,
  2805832,
  2023,
  0.00608892,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  20.5803),
 (31,
  'ADANIENT',
  2894.05,
  datetime.date(2023, 12, 14),
  2932.95,
  2887.0,
  '2023-12',
  2900.95,
  3224681,
  2023,
  0.00660858,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  20.5803),
 (32,
  'ADANIENT',
  2991.8,
  datetime.date(2023, 12, 15),
  3000.0,
  2893.9,
  '2023-12',
  2912.05,
  4921484,
  2023,
  0.0337762,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  20.5803),
 (33,
  'ADANIENT',
  2980.6,
  datetime.date(2023, 12, 18),
  3027.75,
  2961.1,
  '2023-12',
  2993.95,
  2315922,
  2023,
  -0.00374357,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  20.5803),
 (34,
  'ADANIENT',
  2941.25,
  datetime.date(2023, 12, 19),
  2994.35,
  2915.0,
  '2023-12',
  2988.8,
  1741493,
  2023,
  -0.013202,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  20.5803),
 (35,
  'ADANIENT',
  2783.85,
  datetime.date(2023, 12, 20),
  2968.0,
  2766.2,
  '2023-12',
  2946.0,
  3417739,
  2023,
  -0.0535147,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  20.5803),
 (36,
  'ADANIENT',
  2799.75,
  datetime.date(2023, 12, 21),
  2821.95,
  2725.0,
  '2023-12',
  2750.0,
  2678577,
  2023,
  0.00571151,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  20.5803),
 (37,
  'ADANIENT',
  2808.35,
  datetime.date(2023, 12, 22),
  2847.6,
  2791.4,
  '2023-12',
  2815.95,
  1513956,
  2023,
  0.0030717,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  20.5803),
 (38,
  'ADANIENT',
  2865.45,
  datetime.date(2023, 12, 26),
  2893.75,
  2800.1,
  '2023-12',
  2817.0,
  2048484,
  2023,
  0.0203322,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  20.5803),
 (39,
  'ADANIENT',
  2843.35,
  datetime.date(2023, 12, 27),
  2894.8,
  2833.6,
  '2023-12',
  2880.7,
  1698325,
  2023,
  -0.00771258,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  20.5803),
 (40,
  'ADANIENT',
  2809.9,
  datetime.date(2023, 12, 28),
  2867.35,
  2800.1,
  '2023-12',
  2855.0,
  4102912,
  2023,
  -0.0117643,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  20.5803),
 (41,
  'ADANIENT',
  2848.95,
  datetime.date(2023, 12, 29),
  2863.3,
  2802.85,
  '2023-12',
  2823.9,
  1507086,
  2023,
  0.0138973,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  20.5803),
 (42,
  'ADANIENT',
  2917.2,
  datetime.date(2024, 1, 1),
  2947.0,
  2842.05,
  '2024-01',
  2852.3,
  2898619,
  2024,
  0.0239562,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  7.70602),
 (43,
  'ADANIENT',
  2932.4,
  datetime.date(2024, 1, 2),
  2948.2,
  2841.0,
  '2024-01',
  2922.0,
  2671368,
  2024,
  0.00521048,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  7.70602),
 (44,
  'ADANIENT',
  3003.0,
  datetime.date(2024, 1, 3),
  3199.0,
  2955.6,
  '2024-01',
  3047.0,
  19725411,
  2024,
  0.0240758,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  7.70602),
 (45,
  'ADANIENT',
  2998.3,
  datetime.date(2024, 1, 4),
  3044.45,
  2990.0,
  '2024-01',
  3039.4,
  2975620,
  2024,
  -0.0015651,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  7.70602),
 (46,
  'ADANIENT',
  3006.6,
  datetime.date(2024, 1, 5),
  3066.9,
  2981.1,
  '2024-01',
  3009.95,
  3219949,
  2024,
  0.00276824,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  7.70602),
 (47,
  'ADANIENT',
  2963.5,
  datetime.date(2024, 1, 8),
  3027.0,
  2952.95,
  '2024-01',
  3020.0,
  1849061,
  2024,
  -0.0143351,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  7.70602),
 (48,
  'ADANIENT',
  3014.6,
  datetime.date(2024, 1, 9),
  3068.8,
  2980.0,
  '2024-01',
  2990.7,
  2885706,
  2024,
  0.0172431,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  7.70602),
 (49,
  'ADANIENT',
  3098.2,
  datetime.date(2024, 1, 10),
  3112.0,
  3020.05,
  '2024-01',
  3024.0,
  3590297,
  2024,
  0.0277317,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  7.70602),
 (50,
  'ADANIENT',
  3080.9,
  datetime.date(2024, 1, 11),
  3129.0,
  3065.0,
  '2024-01',
  3120.0,
  2008103,
  2024,
  -0.00558389,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  7.70602),
 (51,
  'ADANIENT',
  3104.1,
  datetime.date(2024, 1, 12),
  3125.0,
  3068.2,
  '2024-01',
  3096.35,
  1795933,
  2024,
  0.00753027,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  7.70602),
 (52,
  'ADANIENT',
  3089.5,
  datetime.date(2024, 1, 15),
  3130.0,
  3067.45,
  '2024-01',
  3127.0,
  1407007,
  2024,
  -0.00470346,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  7.70602),
 (53,
  'ADANIENT',
  3056.5,
  datetime.date(2024, 1, 16),
  3104.5,
  3035.0,
  '2024-01',
  3095.0,
  2515564,
  2024,
  -0.0106813,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  7.70602),
 (54,
  'ADANIENT',
  2971.05,
  datetime.date(2024, 1, 17),
  3045.0,
  2946.3,
  '2024-01',
  3033.0,
  2897218,
  2024,
  -0.0279568,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  7.70602),
 (55,
  'ADANIENT',
  2918.9,
  datetime.date(2024, 1, 18),
  2985.0,
  2885.1,
  '2024-01',
  2975.55,
  2552342,
  2024,
  -0.0175527,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  7.70602),
 (56,
  'ADANIENT',
  2915.65,
  datetime.date(2024, 1, 19),
  2949.45,
  2903.05,
  '2024-01',
  2945.35,
  2014096,
  2024,
  -0.00111343,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  7.70602),
 (57,
  'ADANIENT',
  2987.9,
  datetime.date(2024, 1, 20),
  3015.85,
  2890.5,
  '2024-01',
  2930.0,
  1878793,
  2024,
  0.0247801,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  7.70602),
 (58,
  'ADANIENT',
  2896.55,
  datetime.date(2024, 1, 23),
  3014.95,
  2885.5,
  '2024-01',
  3014.95,
  1827002,
  2024,
  -0.0305733,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  7.70602),
 (59,
  'ADANIENT',
  2903.45,
  datetime.date(2024, 1, 24),
  2929.1,
  2871.25,
  '2024-01',
  2901.0,
  5807940,
  2024,
  0.00238214,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  7.70602),
 (60,
  'ADANIENT',
  2893.6,
  datetime.date(2024, 1, 25),
  2926.35,
  2804.4,
  '2024-01',
  2903.45,
  2601969,
  2024,
  -0.00339252,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  7.70602),
 (61,
  'ADANIENT',
  3064.65,
  datetime.date(2024, 1, 29),
  3092.7,
  2923.05,
  '2024-01',
  2929.0,
  4402976,
  2024,
  0.0591132,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  7.70602),
 (62,
  'ADANIENT',
  3091.1,
  datetime.date(2024, 1, 30),
  3129.9,
  3020.9,
  '2024-01',
  3081.0,
  3115506,
  2024,
  0.00863068,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  7.70602),
 (63,
  'ADANIENT',
  3142.0,
  datetime.date(2024, 1, 31),
  3151.7,
  3072.4,
  '2024-01',
  3092.75,
  2671051,
  2024,
  0.0164666,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  7.70602),
 (64,
  'ADANIENT',
  3153.5,
  datetime.date(2024, 2, 1),
  3236.95,
  3083.05,
  '2024-02',
  3156.9,
  4686595,
  2024,
  0.00366009,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  4.18265),
 (65,
  'ADANIENT',
  3157.45,
  datetime.date(2024, 2, 2),
  3208.5,
  3140.0,
  '2024-02',
  3184.95,
  2708695,
  2024,
  0.00125258,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  4.18265),
 (66,
  'ADANIENT',
  3173.45,
  datetime.date(2024, 2, 5),
  3229.4,
  3151.45,
  '2024-02',
  3170.0,
  2191195,
  2024,
  0.00506738,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  4.18265),
 (67,
  'ADANIENT',
  3203.75,
  datetime.date(2024, 2, 6),
  3228.2,
  3160.0,
  '2024-02',
  3183.9,
  2078891,
  2024,
  0.00954797,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  4.18265),
 (68,
  'ADANIENT',
  3229.85,
  datetime.date(2024, 2, 7),
  3277.95,
  3210.0,
  '2024-02',
  3220.05,
  2095911,
  2024,
  0.0081467,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  4.18265),
 (69,
  'ADANIENT',
  3168.6,
  datetime.date(2024, 2, 8),
  3245.6,
  3146.1,
  '2024-02',
  3245.6,
  1679004,
  2024,
  -0.0189637,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  4.18265),
 (70,
  'ADANIENT',
  3215.2,
  datetime.date(2024, 2, 9),
  3224.95,
  3121.2,
  '2024-02',
  3184.45,
  1572789,
  2024,
  0.0147068,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  4.18265),
 (71,
  'ADANIENT',
  3169.75,
  datetime.date(2024, 2, 12),
  3241.95,
  3160.0,
  '2024-02',
  3229.0,
  1083138,
  2024,
  -0.014136,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  4.18265),
 (72,
  'ADANIENT',
  3178.45,
  datetime.date(2024, 2, 13),
  3194.0,
  3092.05,
  '2024-02',
  3180.0,
  1225207,
  2024,
  0.0027447,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  4.18265),
 (73,
  'ADANIENT',
  3207.2,
  datetime.date(2024, 2, 14),
  3255.25,
  3169.85,
  '2024-02',
  3184.0,
  1741264,
  2024,
  0.00904529,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  4.18265),
 (74,
  'ADANIENT',
  3193.8,
  datetime.date(2024, 2, 15),
  3252.75,
  3184.05,
  '2024-02',
  3219.85,
  2035204,
  2024,
  -0.0041781,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  4.18265),
 (75,
  'ADANIENT',
  3223.6,
  datetime.date(2024, 2, 16),
  3252.3,
  3192.65,
  '2024-02',
  3214.0,
  2193673,
  2024,
  0.00933058,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  4.18265),
 (76,
  'ADANIENT',
  3258.8,
  datetime.date(2024, 2, 19),
  3308.6,
  3235.8,
  '2024-02',
  3240.0,
  1779444,
  2024,
  0.0109195,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  4.18265),
 (77,
  'ADANIENT',
  3228.6,
  datetime.date(2024, 2, 20),
  3269.8,
  3210.15,
  '2024-02',
  3267.0,
  1467630,
  2024,
  -0.00926721,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  4.18265),
 (78,
  'ADANIENT',
  3223.2,
  datetime.date(2024, 2, 21),
  3300.0,
  3205.0,
  '2024-02',
  3238.0,
  1657021,
  2024,
  -0.00167255,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  4.18265),
 (79,
  'ADANIENT',
  3263.05,
  datetime.date(2024, 2, 22),
  3274.0,
  3210.5,
  '2024-02',
  3239.0,
  1138722,
  2024,
  0.0123635,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  4.18265),
 (80,
  'ADANIENT',
  3273.3,
  datetime.date(2024, 2, 23),
  3319.95,
  3225.1,
  '2024-02',
  3263.05,
  1975035,
  2024,
  0.00314123,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  4.18265),
 (81,
  'ADANIENT',
  3327.75,
  datetime.date(2024, 2, 26),
  3344.0,
  3263.0,
  '2024-02',
  3272.0,
  1695378,
  2024,
  0.0166346,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  4.18265),
 (82,
  'ADANIENT',
  3302.3,
  datetime.date(2024, 2, 27),
  3340.0,
  3273.0,
  '2024-02',
  3339.0,
  1125570,
  2024,
  -0.00764781,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  4.18265),
 (83,
  'ADANIENT',
  3219.0,
  datetime.date(2024, 2, 28),
  3318.8,
  3207.5,
  '2024-02',
  3309.2,
  1358879,
  2024,
  -0.0252248,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  4.18265),
 (84,
  'ADANIENT',
  3285.4,
  datetime.date(2024, 2, 29),
  3304.75,
  3205.35,
  '2024-02',
  3220.05,
  1352988,
  2024,
  0.0206275,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  4.18265),
 (85,
  'ADANIENT',
  3318.75,
  datetime.date(2024, 3, 1),
  3346.0,
  3281.8,
  '2024-03',
  3309.85,
  1161067,
  2024,
  0.010151,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  -3.66554),
 (86,
  'ADANIENT',
  3333.25,
  datetime.date(2024, 3, 2),
  3348.7,
  3321.5,
  '2024-03',
  3332.0,
  119511,
  2024,
  0.00436911,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  -3.66554),
 (87,
  'ADANIENT',
  3317.15,
  datetime.date(2024, 3, 4),
  3350.0,
  3310.05,
  '2024-03',
  3335.0,
  1061244,
  2024,
  -0.00483012,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  -3.66554),
 (88,
  'ADANIENT',
  3310.2,
  datetime.date(2024, 3, 5),
  3334.0,
  3295.05,
  '2024-03',
  3325.3,
  1190416,
  2024,
  -0.00209517,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  -3.66554),
 (89,
  'ADANIENT',
  3233.95,
  datetime.date(2024, 3, 6),
  3323.0,
  3183.15,
  '2024-03',
  3323.0,
  1935203,
  2024,
  -0.0230349,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  -3.66554),
 (90,
  'ADANIENT',
  3226.55,
  datetime.date(2024, 3, 7),
  3262.0,
  3220.0,
  '2024-03',
  3240.0,
  856328,
  2024,
  -0.00228822,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  -3.66554),
 (91,
  'ADANIENT',
  3207.35,
  datetime.date(2024, 3, 11),
  3259.0,
  3200.0,
  '2024-03',
  3241.2,
  738851,
  2024,
  -0.00595063,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  -3.66554),
 (92,
  'ADANIENT',
  3122.5,
  datetime.date(2024, 3, 12),
  3222.7,
  3111.0,
  '2024-03',
  3207.35,
  1199487,
  2024,
  -0.0264549,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  -3.66554),
 (93,
  'ADANIENT',
  2906.2,
  datetime.date(2024, 3, 13),
  3138.05,
  2850.15,
  '2024-03',
  3125.0,
  3407040,
  2024,
  -0.0692714,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  -3.66554),
 (94,
  'ADANIENT',
  3087.45,
  datetime.date(2024, 3, 14),
  3101.2,
  2880.0,
  '2024-03',
  2927.45,
  3759100,
  2024,
  0.0623667,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  -3.66554),
 (95,
  'ADANIENT',
  3132.2,
  datetime.date(2024, 3, 15),
  3143.4,
  3061.25,
  '2024-03',
  3111.0,
  2199094,
  2024,
  0.0144942,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  -3.66554),
 (96,
  'ADANIENT',
  3111.75,
  datetime.date(2024, 3, 18),
  3124.0,
  2976.05,
  '2024-03',
  3050.1,
  3042515,
  2024,
  -0.00652896,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  -3.66554),
 (97,
  'ADANIENT',
  3052.7,
  datetime.date(2024, 3, 19),
  3164.8,
  3041.85,
  '2024-03',
  3126.0,
  1460452,
  2024,
  -0.0189765,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  -3.66554),
 (98,
  'ADANIENT',
  3051.45,
  datetime.date(2024, 3, 20),
  3083.2,
  3021.1,
  '2024-03',
  3075.0,
  966481,
  2024,
  -0.000409474,
  'ADANI ENTERPRISES',
  'MISCELLANEOUS',
  0.482569,
  -3.66554),
 (99,
  'ADANIENT',
  3066.5,
  datetime.date(2024, 3, 21),
  3107.1,
  3059.6,

In [ ]:
#create a table for #top 10 volatility
create_table_query = """CREATE TABLE IF NOT EXISTS top_10_volatility
(
    Ticker Varchar(250),
    volatility Float
)
"""
curr.execute(create_table_query)

#
top_10_volatility_values =  top_10_volatility.values.tolist()

#insert the table
insert_query = """ insert into top_10_volatility(Ticker, volatility) values(%s, %s)"""
curr.executemany(insert_query, top_10_volatility_values)
db_connection.commit()

In [ ]:
#create a table for # top 5 cummulative return
create_table_query = """CREATE TABLE IF NOT EXISTS top_5_cumulative_return
( 
  Ticker varchar(250),
  cumulative_return float
)"""
curr.execute(create_table_query)

top_5_cumulative_return_values = top_5_cumulative_return.values.tolist()

#insert the table 
insert_query = """insert into top_5_cumulative_return(Ticker, cumulative_return) values(%s, %s)"""
curr.executemany(insert_query, top_5_cumulative_return_values)
db_connection.commit()

In [155]:
#create a table for sector performance
create_table_query = """CREATE TABLE IF NOT EXISTS sector_performance
(sector text, avg_yearly_return float)"""
curr.execute(create_table_query)

sector_performance_values = sector_performance.values.tolist()

#insert the table 
insert_query = """ insert into sector_performance(sector, avg_yearly_return) values(%s, %s)"""
curr.executemany(insert_query, sector_performance_values)
db_connection.commit()

In [ ]:
#create a table for top_10_correlation
create_table_query = """CREATE TABLE IF NOT EXISTS top_10_correlation
(stock_1 varchar(250),
stock_2 varchar(250),
correlation float)"""
curr.execute(create_table_query)

top_10_correlation_values = top_10_correlation.values.tolist()
#insert the table 
insert_query = """insert into top_10_correlation(stock_1, stock_2, correlation) values(%s, %s, %s)"""
curr.executemany(insert_query, top_10_correlation_values)
db_connection.commit()